<div class="menu">
  <div class="tabs">
    <div class="tab active">Informations</div>
    <% if @membre %><div class="tab">Mandats</div><%end%>
    <div class="tab">Documents</div>
    <div class="tab">Email et mot de passe</div>
    <div class="tab">Paramètres</div>
  </div>

  <div class="contents">

    <% # Informations %>
    <div class="content active">      
      <%= simple_form_for [@junior, @user, @adherent] do |f| %>
        <%= f.error_notification %>
        <div class="formulaire">
          <div class="input">
            <%= f.input :prenom, required: true, autofocus: true, label: 'Prénom' %>
            <%= f.input :nom, required: true, autofocus: true, label: 'Nom' %>
          </div>
          <div class="input">
            <%= f.input :telephone, autofocus: true, label: 'Téléphone' %>
          </div>
          <div class="input">
            <%= f.input :adresse_postale, required: true, autofocus: true, label: 'Adresse Postale' %>
            <%= f.input :code_postale, required: true, autofocus: true, label: 'Code Postale' %>
            <%= f.input :ville, required: true, autofocus: true, label: 'Ville' %>
          </div>
          <div class="input">
            <%= f.input :niveau_etude, autofocus: true, label: "Niveau d'étude", collection: @junior.junior_configuration.niveau_etude, :label_method => lambda { |niveau_etude| "#{niveau_etude}" } %>
            <%= f.input :specialisation_etude, autofocus: true, label: 'Spécialisation', collection: @junior.junior_configuration.specialisation_etude, :label_method => lambda { |spe| "#{spe}" } %>
            <%= f.input :annee_diplome, autofocus: true, label: 'Année de diplôme', hint: "Par exemple : 2021" %>
          </div>
          <div class="input" style="margin-bottom: 10px;">
            <%= f.input :avatar, as: :file, label: 'Photo de profil' %>
          </div>
        </div>

        <div class="button">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>
    </div>

    <% # Mandat %>
    <% if @membre %>
      <div class="content margin_top_3">
        <div class="modal-button modal-button2" id="add_new_mandat">Ajouter un mandat</div>
        <div class="cards-profile">
          <% @mandat_requests.each do |mandat_request| %>
            <div class="card">
              <div class="contenu">
                <div class="title">
                  <div><%= mandat_request.poste.nom %></div>
                  <div><%= mandat_request.pole.nom %></div>
                </div>
                <div class="main">
                  <div><%= mandat_request.date_debut %></div>
                  <div><%= mandat_request.date_fin %></div>
                  <div><%= mandat_request.pole %></div>
                </div>
                <div class="comment">
                  <% if mandat_request.status == 'invalid' %>
                    <div class="valid">Refusé</div>
                  <% elsif mandat_request.status == 'pending' %>
                    <div class="pending">En attente de confirmation</div>
                  <% elsif mandat_request.status == 'confirmed' %>
                    <% if mandat_request.date_debut > Date.today %>
                        <div class="valid">Non débuté</div>
                    <% elsif mandat_request.date_fin < Date.today %>
                        <div class="valid">Terminé</div>
                    <% elsif mandat_request.date_debut <= Date.today %>
                        <div class="valid">En cours</div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% # Documents %>
    <div class="content margin_top_3">
      <div class="inline_list">
        <% @document_obligatoires.each_with_index do |doc_obli, index| %>
          <% if !@documents.where(nom: doc_obli.nom, validite: 'pending').empty? %>
            <div class="inline_list_item">
              <div class="attente"><%= doc_obli.nom %></div>
            </div>
          <% elsif !@documents.where(nom: doc_obli.nom, validite: 'valid').empty? %>
            <div class="inline_list_item">
              <div class="valide"><%= doc_obli.nom %></div>
            </div>
          <% elsif !@documents.where(nom: doc_obli.nom, validite: 'invalid').empty? %>
            <div class="inline_list_item">
              <div class="invalide"><%= doc_obli.nom %></div>
            </div>
          <% elsif !@documents.where(nom: doc_obli.nom).empty? %>
            <div class="inline_list_item">
              <div class="aucun"><%= doc_obli.nom %></div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="modal-button modal-button2" id="add_new_document_adherent">Ajouter un document</div>
      <table class="tableau">
        <thead class="tabl_header">
          <tr class="header_row">
            <th class="colonne"> Nom du document</th>
            <th class="colonne"> Début de validité</th>
            <th class="colonne"> Début de fin de validité</th>
            <th class="colonne"> Contrôle</th>
          </tr>
        </thead>     
        <tbody class="modal_buttons tabl_contenu">
            <% @documents.each_with_index do |document, index| %>
                <tr class="modal-button ligne" id="edit_adherent_document_<%= index %>">
                  <td class="colonne"> <%= document.nom %></td>
                  <td class="colonne"> <%= document.date_debut_validite.strftime("%d-%m-%Y") %></td>
                  <td class="colonne"> <%= document.date_fin_validite.strftime("%d-%m-%Y") %></td>
                  <td class="colonne"> 
                    <% case document.validite %>
                    <% when 'pending' %>
                      <div class="pending">En attente de validation</div> 
                    <% when 'valid' %> 
                      <div class="valid">Document valide</div>
                    <% when 'invalid' %>
                      <div class="invalid">Document invalide</div>
                    <% end %>
                  </td>
                </tr>
            <% end %>
        </tbody>
      </table>
    </div>

    <% # Email et Mot de Passe %>
    <div class="content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="formulaire">
          <div class="input">
            <%= f.input :email, required: true, autofocus: true, label: 'Adresse mail' %>
          </div>

          <div class="input">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>

          <div class="input">
            <%= f.input :password,
                        hint: "laissez vide si vous ne souhaitez pas changer de mot de passe",
                        required: false,
                        label: 'Nouveau mot de passe',
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="input">
          <%= f.input :password_confirmation,
                      required: false,
                      label: 'Confirmation nouveau mot de passe',
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="input">
          <%= f.input :current_password,
                      hint: "pour modifier vos identifiants, nous avons besoin de votre mot de passe",
                      required: true,
                      label: 'Mot de passe actuel',
                      input_html: { autocomplete: "current-password" } %>
          </div>
        </div>

        <div class="button">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>
    </div>

    <% # PARAMETRES %>
    <div class="content">
      <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style: 'color:var(--bleu-hex);' do %>Supprimer mon compte<% end %>
    </div>
  </div>
</div>


<% # MODALS %>
<% # Nouveau Document %>
<div class="hex_modal" id="add_new_document_adherent">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_new_document_adherent">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
          <%= simple_form_for [@junior, @user, @adherent, @document] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="input">
                  <%= f.input :nom, required: true, value_method: :nom, collection: @junior.junior_configuration.config_doc_adherents, :label_method => lambda { |document| "#{document.nom}" }  %>
                  <%= f.input :date_debut_validite, as: :date, html5: true %>
                </div>
                <div class="input">
                  <%= f.file_field :document, required: true  %>
                </div>
                <div class="input">
                </div>
                <div class="input">
                </div>
            </div>
            <div class="button">
                <%= f.button :submit, "Ajouter le document" %>
            </div>
          <% end %>
        </div>
    </div>
</div>
<% # Modifier Document %>
<% @documents.each_with_index do |document, index| %>
  <div class="hex_modal" id="edit_adherent_document_<%= index %>">
      <div class="background">
          <div class="header">
              <div class="modal-close" id="edit_adherent_document_<%= index %>">
                  <i class="fas fa-times"></i>
              </div>
          </div>
          <div class="content">
            <%= simple_form_for [@junior, @user, @adherent, document] do |f| %>
              <%= f.error_notification %>
              <div class="formulaire">
                  <div class="input">
                    <%= f.input :nom, required: true, value_method: :nom, collection: @junior.junior_configuration.config_doc_adherents, :label_method => lambda { |document| "#{document.nom}" }  %>
                    <%= f.input :date_debut_validite, as: :date, html5: true %>
                  </div>
                  <div class="input">
                    <%= f.file_field :document, required: true  %>
                  </div>
                  <div class="input">
                  </div>
                  <div class="input">
                  </div>
              </div>

              <div class="button">
                  <%= f.button :submit, "Ajouter le document" %>
              </div>
            <% end %>
          </div>
      </div>
  </div>
<% end %>

<% # Nouveau Mandat %>
<% if @membre %>
  <div class="hex_modal" id="add_new_mandat">
      <div class="background">
          <div class="header">
              <div class="modal-close" id="add_new_mandat">
                  <i class="fas fa-times"></i>
              </div>
          </div>
          <div class="content">
            <%= simple_form_for [@junior, @membre, @mandat] do |f| %>
              <%= f.error_notification %>
              <div class="formulaire">
                <div class="input">
                  <%= f.input :pole, required: true, value_method: :id, collection: @junior.junior_configuration.poles, :label_method => lambda { |pole| "#{pole.nom}" } %>
                  <%= f.input :poste, required: true, value_method: :id, collection: @junior.junior_configuration.postes, :label_method => lambda { |poste| "#{poste.nom}" }  %>
                </div>
                <div class="input">
                  <%= f.input :date_debut, required: true, as: :date, html5: true  %>
                  <%= f.input :date_fin, required: true, as: :date, html5: true  %>
                </div>
              </div>

              <div class="button">
                  <%= f.button :submit, "Demander l'ajout d'un mandat" %>
              </div>
            <% end %>
          </div>
      </div>
  </div>
<% end %>
