<div class="menu">
  <div class="tabs">
    <div class="tab active">Informations</div>
    <div class="tab">Documents</div>
    <div class="tab">Email et mot de passe</div>
    <div class="tab">Paramètres</div>
  </div>
  <div class="contents">
    <% # Informations %>
    <div class="content active">      
      <%= simple_form_for [@junior, @user, @adherent] do |f| %>
        <%= f.error_notification %>
        <div class="formulaire">
          <div class="input">
            <%= f.input :prenom, required: true, autofocus: true, label: 'Prénom' %>
            <%= f.input :nom, required: true, autofocus: true, label: 'Nom' %>
          </div>
          <div class="input">
            <%= f.input :telephone, autofocus: true, label: 'Téléphone' %>
          </div>
          <div class="input">
            <%= f.input :adresse_postale, required: true, autofocus: true, label: 'Adresse Postale' %>
            <%= f.input :code_postale, required: true, autofocus: true, label: 'Code Postale' %>
            <%= f.input :ville, required: true, autofocus: true, label: 'Ville' %>
          </div>
          <div class="input">
            <%= f.input :niveau_etude, autofocus: true, label: "Niveau d'étude", collection: @junior.junior_configuration.niveau_etude, :label_method => lambda { |niveau_etude| "#{niveau_etude}" } %>
            <%= f.input :specialisation_etude, autofocus: true, label: 'Spécialisation', collection: @junior.junior_configuration.specialisation_etude, :label_method => lambda { |spe| "#{spe}" } %>
            <%= f.input :annee_diplome, autofocus: true, label: 'Année de diplôme', hint: "Par exemple : 2021" %>
          </div>
        </div>

        <div class="button">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>
    </div>

    <% # Documents %>
    <div class="content">Documents</div>

    <% # Email et Mot de Passe %>
    <div class="content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="formulaire">
          <div class="input">
            <%= f.input :email, required: true, autofocus: true, label: 'Adresse mail' %>
          </div>

          <div class="input">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>

          <div class="input">
            <%= f.input :password,
                        hint: "laissez vide si vous ne souhaitez pas changer de mot de passe",
                        required: false,
                        label: 'Nouveau mot de passe',
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="input">
          <%= f.input :password_confirmation,
                      required: false,
                      label: 'Confirmation nouveau mot de passe',
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="input">
          <%= f.input :current_password,
                      hint: "pour modifier vos identifiants, nous avons besoin de votre mot de passe",
                      required: true,
                      label: 'Mot de passe actuel',
                      input_html: { autocomplete: "current-password" } %>
          </div>
        </div>

        <div class="button">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>
    </div>

    <% # PARAMETRES %>
    <div class="content">
      <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style: 'color:var(--bleu-hex);' do %>Supprimer mon compte<% end %>
    </div>
  </div>
</div>
