<div class="session_background">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="content_div">
      <div class="content_background">
        <div class="content_main">
          <div class="main_title">
            <div class="title_line">Bienvenue</div>
            <div class="title_line">dans l'équipe !</div>
          </div>
          <div class="main_form">
            <div class="form_input_line">
              <%= f.input :email,
                          required: true,
                          label: false,
                          autofocus: true,
                          placeholder: "E-mail",
                          input_html: { autocomplete: "email", class: 'form_input' } %>
            </div>
            <div class="form_input_line">
              <%= f.input :password,
                          required: true,
                          label: false,
                          placeholder: "Mot de Passe",
                          input_html: { autocomplete: "new-password", class: 'form_input' }%>
            </div>
            <div class="form_input_line">
              <%= f.input :password_confirmation,
                          required: true,
                          label: false, 
                          placeholder: "Confirmation Mot de Passe",
                          input_html: { autocomplete: "new-password", class: 'form_input' }%>
            </div>
            <div class="form_input_line">
              <%= f.input :junior,
                          required: true,
                          label: false, 
                          placeholder: "Code Junior-Entreprise",
                          input_html: { class: 'form_input' } %>
            </div>
            <div class="form_btn">
              <%= f.button :button do %>
                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                Inscription
              <% end %>
            </div>
          </div>
        </div>
        <div class="content_footer">
          <div class="footer_links">
            <%- if controller_name != 'sessions' %>
                <%= link_to new_session_path(resource_name) do%>Déjà un compte ? Se connecter <span class="emoji">&#128075</span><%end%>
              <% end %>
          </div>
          <div class="footer_logo">
            <%= image_tag 'HEX_BLANC', style: 'height:10vh; width: auto;'%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
