<div class='navbar'>
  <div class='nav_background'>
    <div class="nav_header">
      <div class='logo'> 
        <%= image_tag 'logo_hex', style: 'height:auto;width:4vw;'%> 
      </div>
      <%# Profile Selector - Membre %>
      <div class="profiles">
        <% if current_user.membre.nil? == false %>
          <div class="profile"><i class="fas fa-user"></i><span class="tooltiptext">Espace Adherent</span></div>
          <div class="profile"><i class="fas fa-user-tie"></i><span class="tooltiptext">Espace Membre</span></div>
        <% end %>
        <%# Profile Selector - Admin %>
        <% if current_user.admin? %><div class="profile"><i class="fas fa-user-cog"></i><span class="tooltiptext">Administrateur</span></div><% end %>
      </div>
    </div>


    <%# Navbar - User %>
    <div class='nav_items'>
      <% if current_user.membre_request.nil? %><div class='nav_item'><%= link_to junior_membre_requests_path(current_user.junior.id, membre_request: { junior: current_user.junior_id, user: current_user.id }), method: 'post' do %><i class="fas fa-user-plus"></i><% end %></div><% end %>
      <% if current_user.membre_request.nil? == false && current_user.membre_request.status == 'pending' %><div class='nav_item'><i class="fas fa-user-clock"></i></div><% end %>
      <div class='nav_item'><%= link_to edit_user_registration_path do %><% if current_user.adherent.avatar.attached? %><%= image_tag current_user.adherent.avatar.url, class: 'avatar' %> <% else %><i class="fas fa-user-circle"><% end %></i><% end %><span class="tooltiptext">Mon Profil</span></div>
    </div>
    <%# Navbar - Membre %>
    <div class='nav_items'>
      <div class='nav_item'><%= link_to junior_path(current_user.junior_id) do %><i class="fas fa-home"></i><% end %><span class="tooltiptext">Accueil</span></div>
      <div class='nav_item'><i class="fas fa-briefcase"></i><span class="tooltiptext">JEstion Etudes</span></div>
      <div class='nav_item'><i class="fas fa-project-diagram"></i><span class="tooltiptext">JEstion Projets</span></div>
      <div class='nav_item'><%= link_to junior_adherents_path(current_user.junior_id) do %><i class="fas fa-users"></i><% end %><span class="tooltiptext">JEstion Adherents</span></div>
      <div class='nav_item'><%= link_to junior_membres_path(current_user.junior_id) do %><i class="fas fa-user-tie"></i><% end %><span class="tooltiptext">JEstion Membres</span></div>
      <div class='nav_item'><i class="fas fa-chart-bar"></i><span class="tooltiptext">JEstion Indicateurs</span></div>
      <div class='nav_item'><i class="fas fa-file-invoice-dollar"></i><span class="tooltiptext">JEstion Trésorerie</span></div>
      <div class='nav_item'><i class="fas fa-question-circle"></i><span class="tooltiptext">Support</span></div>
      <div class='nav_item'><%= link_to edit_junior_junior_configuration_path(current_user.junior_id, current_user.junior.junior_configuration.id) do %><i class="fas fa-cog"></i><% end %><span class="tooltiptext">Configuration</span></div>
    </div>
    <%# Navbar - Admin %>
    <div class='nav_items'>
    </div>
    <div class="user">
        <div class="logout"><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i><% end %><span class="tooltiptext">Déconnexion</span></div>
    </div>
  </div>
</div>


