<div class="user_page_header">
  <div class="avatar"><%= @adherent.avatar.url.nil? ? image_tag("logo_hex.png", class: 'avatar') : image_tag(@adherent.avatar.variant(resize_to_limit: [500, 500]), class: 'avatar') %></div>
  <div class="nom">
    <h1><%= @adherent.nom %></h1>
    <h1><%= @adherent.prenom %></h1>
  </div>
</div>

<div class="menu">
  <div class="tabs">
    <div class="tab active">Informations</div>
    <div class="tab">Documents</div>
    <% if !@user.membre.nil? %><div class="tab">Mandats</div><% end %>
  </div>
  
  <div class="contents">
    <% # Informations %>
    <div class="content active">      
      <%= simple_form_for [@junior, @user, @adherent] do |f| %>
        <%= f.error_notification %>
        <div class="formulaire">
          <div class="input">
            <%= f.input :telephone, autofocus: true, label: 'Téléphone' %>
          </div>
          <div class="input">
            <%= f.input :adresse_postale, required: true, autofocus: true, label: 'Adresse Postale' %>
            <%= f.input :code_postale, required: true, autofocus: true, label: 'Code Postale' %>
            <%= f.input :ville, required: true, autofocus: true, label: 'Ville' %>
          </div>
          <div class="input">
            <%= f.input :niveau_etude, autofocus: true, label: "Niveau d'étude", collection: @junior.junior_configuration.niveau_etude, :label_method => lambda { |niveau_etude| "#{niveau_etude}" } %>
            <%= f.input :specialisation_etude, autofocus: true, label: 'Spécialisation', collection: @junior.junior_configuration.specialisation_etude, :label_method => lambda { |spe| "#{spe}" } %>
            <%= f.input :annee_diplome, autofocus: true, label: 'Année de diplôme', hint: "Par exemple : 2021" %>
          </div>
        </div>

        <div class="button">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      <% end %>
    </div>

    <% # Documents %>
    <div class="content margin_top_3">
      <div class="inline_list">
        <% @document_obligatoires.each_with_index do |doc_obli, index| %>
          <% if !@documents.where(nom: doc_obli.nom, validite: 'pending').empty? %>
            <div class="inline_list_item">
              <div class="attente"><%= doc_obli.nom %></div>
            </div>
          <% elsif !@documents.where(nom: doc_obli.nom, validite: 'valid').empty? %>
            <div class="inline_list_item">
              <div class="valide"><%= doc_obli.nom %></div>
            </div>
          <% elsif !@documents.where(nom: doc_obli.nom, validite: 'invalid').empty? %>
            <div class="inline_list_item">
              <div class="invalide"><%= doc_obli.nom %></div>
            </div>
          <% elsif !@documents.where(nom: doc_obli.nom).empty? %>
            <div class="inline_list_item">
              <div class="aucun"><%= doc_obli.nom %></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% # raise %>

      <table class="tableau">
        <thead class="tabl_header">
          <tr class="header_row">
            <th class="colonne"> Nom du document</th>
            <th class="colonne"> Début de validité</th>
            <th class="colonne"> Début de fin de validité</th>
            <th class="colonne"> Validité</th>
          </tr>
        </thead>     
        <tbody class="modal_buttons tabl_contenu">
          <% @documents.each_with_index do |document, index| %>
            <tr class="modal-button ligne" id="edit_adherent_document_<%= index %>">
              <td class="colonne"> <%= document.nom %></td>
              <td class="colonne"> <%= document.date_debut_validite.strftime("%d-%m-%Y") %></td>
              <td class="colonne"> <%= document.date_fin_validite.strftime("%d-%m-%Y") %></td>
              <td class="colonne"> 
                <% case document.validite %>
                <% when 'pending' %>
                  <span class="pending">En attente de validation</span> 
                <% when 'valid' %> 
                  <span class="valid">Document valide</span>
                <% when 'invalid' %>
                  <span class="invalid">Document invalide</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% # Mandats%>
    <% if !@user.membre.nil? %>
      <div class="content">
        <% mandats_en_cours = @user.membre.mandat_requests.where(status: 'approved').where('date_debut < ?', Date.today).where('Date_fin > ?', Date.today) %>
        <% mandats_passés = @user.membre.mandat_requests.where(status: 'approved').where('date_debut > ?', Date.today) %>
        <% mandats_futurs = @user.membre.mandat_requests.where(status: 'approved').where('Date_fin < ?', Date.today) %>
        <% mandats_demandes = @user.membre.mandat_requests.where(status: 'pending')%>
        <% if !mandats_en_cours.count.zero?%>
          <h2>Mandats en cours</h2>
          <div class="cards-profile">
            <% mandats_en_cours.each do |mandat_request| %>
              <div class="card">
                <div class="contenu">
                  <div class="title">
                    <div><%= mandat_request.poste.nom %></div>
                    <div><%= mandat_request.pole.nom %></div>
                  </div>
                  <div class="main">
                    <div>Du <%= mandat_request.date_debut.strftime("%d/%m/%Y") %></div>
                    <div>Au <%= mandat_request.date_fin.strftime("%d/%m/%Y") %></div>
                    <div><%= mandat_request.status == 'approved' ? mandat_request.mandat.permission.nom : 'Aucune autorisation' %></div>
                  </div>
                  <div class="comment">
                  </div>
                  <div class="actions">
                    <%= button_tag(:type => 'button') do %>
                      <%= link_to junior_membre_mandat_request_path(mandat_request.membre.membre_request.junior_id, mandat_request.membre.membre_request.id, mandat_request.id), method: :delete do %>
                        <div class="action" style="color: var(--rouge);">
                          Supprimer le mandat 
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if !mandats_passés.count.zero?%>
          <h2>Mandats passés</h2>
          <div class="cards-profile">
            <% mandats_passés.each do |mandat_request| %>
              <div class="card">
                <div class="contenu">
                  <div class="title">
                    <div><%= mandat_request.poste.nom %></div>
                    <div><%= mandat_request.pole.nom %></div>
                  </div>
                  <div class="main">
                    <div>Du <%= mandat_request.date_debut.strftime("%d/%m/%Y") %></div>
                    <div>Au <%= mandat_request.date_fin.strftime("%d/%m/%Y") %></div>
                    <div><%= mandat_request.status == 'approved' ? mandat_request.mandat.permission.nom : 'Aucune autorisation' %></div>
                  </div>
                  <div class="comment">
                  </div>
                  <div class="actions">
                    <%= button_tag(:type => 'button') do %>
                      <%= link_to junior_membre_mandat_request_path(mandat_request.membre.membre_request.junior_id, mandat_request.membre.membre_request.id, mandat_request.id), method: :delete do %>
                        <div class="action" style="color: var(--rouge);">
                          Supprimer le mandat 
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>


        <% if !mandats_futurs.count.zero?%>
          <h2>Mandats Futurs</h2>
          <div class="cards-profile">
            <% mandats_futurs.each do |mandat_request| %>
              <div class="card">
                <div class="contenu">
                  <div class="title">
                    <div><%= mandat_request.poste.nom %></div>
                    <div><%= mandat_request.pole.nom %></div>
                  </div>
                  <div class="main">
                    <div>Du <%= mandat_request.date_debut.strftime("%d/%m/%Y") %></div>
                    <div>Au <%= mandat_request.date_fin.strftime("%d/%m/%Y") %></div>
                    <div><%= mandat_request.status == 'approved' ? mandat_request.mandat.permission.nom : 'Aucune autorisation' %></div>
                  </div>
                  <div class="comment">
                  </div>
                  <div class="actions">
                    <%= button_tag(:type => 'button') do %>
                      <%= link_to junior_membre_mandat_request_path(mandat_request.membre.membre_request.junior_id, mandat_request.membre.membre_request.id, mandat_request.id), method: :delete do %>
                        <div class="action" style="color: var(--rouge);">
                          Supprimer le mandat 
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>


        <% if !mandats_demandes.count.zero?%>
        <h2>Demandes de mandats</h2>
          <div class="cards-profile">
            <% mandats_demandes.each do |request| %>
              <%= simple_form_for [@junior, request.membre, request] do |f| %>
                <div class="card">
                  <div class="contenu">
                    <div class="title">
                      <div><%= request.poste.nom %></div>
                      <div><%= request.pole.nom %></div>
                    </div>
                    <div class="main">
                      <div>Du <%= request.date_debut.strftime("%d/%m/%Y") %></div>
                      <div>Au <%= request.date_fin.strftime("%d/%m/%Y") %></div>
                    </div>
                    <div class="comment">
                    <%= simple_fields_for :permission do |n| %>
                      <div class="formulaire">
                        <div class="input">
                        <%= n.input :id, autofocus: true, label: "Autorisation :", collection: @junior.junior_configuration.permissions, :label_method => lambda { |autorisation| "#{autorisation.nom}" } %>
                        </div>
                      </div>
                    <% end %>
                    <%= f.hidden_field :status, value: "approved" %>
                    </div>
                    <% #raise %>
                    <div class="actions">
                      <%= button_tag type: 'submit' do %>
                        <div class="action" style="color: var(--vert);">
                          <i class="fas fa-check"></i>
                        </div>
                      <% end %>
                      <%= button_tag(:type => 'button') do %>
                        <%= link_to junior_membre_mandat_request_path(request.membre.membre_request.junior_id, request.membre.membre_request.id, request.id), method: :delete do %>
                          <div class="action" style="color: var(--rouge);">
                            <i class="fas fa-times"></i>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>  
            <% end %>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>
</div>




<div class="hex_modal" id="add_new_document_adherent">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_new_document_adherent">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
          <%= simple_form_for [@junior, @user, @adherent, @document] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="input">
                  <%= f.input :nom, required: true, value_method: :nom, collection: @junior.junior_configuration.config_doc_adherents, :label_method => lambda { |document| "#{document.nom}" }  %>
                  <%= f.input :date_debut_validite, as: :date, html5: true %>
                </div>
                <div class="input">
                  <%= f.file_field :document, required: true  %>
                </div>
                <div class="input">
                </div>
                <div class="input">
                </div>
            </div>

            <div class="button">
                <%= f.button :submit, "Ajouter le document" %>
            </div>
          <% end %>
        </div>
    </div>
</div>

<% @documents.each_with_index do |document, index| %>
  <div class="hex_modal" id="edit_adherent_document_<%= index %>">
      <div class="background">
          <div class="header">
              <div class="modal-close" id="edit_adherent_document_<%= index %>">
                  <i class="fas fa-times"></i>
              </div>
          </div>
          <div class="content">
            <%= simple_form_for [@junior, @user, @adherent, document] do |f| %>
              <%= f.error_notification %>
              <div class="formulaire">
                  <div class="input">
                    <%= f.input :nom, required: true, value_method: :nom, collection: @junior.junior_configuration.config_doc_adherents, :label_method => lambda { |document| "#{document.nom}" }  %>
                    <%= f.input :date_debut_validite, as: :date, html5: true %>
                  </div>
                  <div class="input">
                    <%= link_to document.document.url, target: :_blank do %> <div style='color: var(--bleu-hex)'>Voir le document <i class="fas fa-eye"></i></div> <% end %>
                  </div>
                  <div class="input">
                  </div>
                  <div class="input">
                  </div>
              </div>

              <div class="button">
                  <%= f.button :button, "Valider le document", type: 'submit', class: 'vert', name: 'validite_document_adherent', value: 'valid' %>
                  <%= f.button :button, "Invalider le document", type: 'submit', class: 'rouge', name: 'validite_document_adherent', value: 'invalid' %>
              </div>
            <% end %>
          </div>
      </div>
  </div>
<% end %>