<h1>Configuration - <%= @junior.nom%></h1>


<div class="menu">
  <div class="tabs">
    <div class="tab active">Enseignements</div>
    <div class="tab">Activité</div>
    <div class="tab">Etudes</div>
    <div class="tab">Adhésion</div>
    <div class="tab">Documents Types</div>
    <div class="tab">Membres</div>
    <div class="tab">Autorisations</div>
    <div class="tab">Autres</div>
  </div>
  <div class="contents">
    <% # Niveau Etude & Spécialité %>
    <div class="content active">
        <%= simple_form_for [@junior, @configuration] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Niveau d'étude</div>
                        <div class="inputs"><%= f.input :niveau_etude, as: :array, label: false %></div>
                        
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[niveau_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Spécialisation d'étude</div>
                        <div class="inputs"><%= f.input :specialisation_etude, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[specialisation_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
            </div>

            <div class="button">
                <%= f.button :submit, "Enregistrer" %>
            </div>
        <% end %>    
    </div>


    <% # Prestations %>
    <div class="content"> 
        <h2>Prestations</h2>
        <div class="modal-button modal-button2" id="add_prestation">Ajouter une prestation</div>
        <div class="inline_list2">
            <% @prestations.each do |prestation| %> 
                <div class="inline_list_item modal-button" id="edit_prestation_<%= prestation.id %>">
                    <%= prestation.nom %>
                </div>
            <% end %>
        </div> 
    </div>

    <% # Etudes %>
    <div class="content"> 
        <%= simple_form_for [@junior, @configuration] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Types d'entreprises</div>
                        <div class="inputs"><%= f.input :types_entreprises, as: :array, label: false %></div>
                        
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[types_entreprises][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Provenances des clients</div>
                        <div class="inputs"><%= f.input :provenances_clients, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[provenances_clients][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Méthodes de premier contact</div>
                        <div class="inputs"><%= f.input :methodes_premier_contact, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[methodes_premier_contact][]" id="add_new_input">Ajouter une entrée</div>
                </div>
            </div>

            <div class="button">
                <%= f.button :submit, "Enregistrer" %>
            </div>
        <% end %>
    </div>

    <% # Documents d'Adhesion %>
    <div class="content">
        <div class="modal-button modal-button2" id="add_adherent_document">Ajouter un document d'adhésion</div>
        <table class="tableau" id="search_tableau">
            <thead class="tabl_header">
                <tr class="header_row">
                    <th class="colonne">Nom</th>
                    <th class="colonne">Durée Validité</th>
                    <th class="colonne">Obligatoire</th>
                    <th class="colonne">Archivé</th>
                </tr>
            </thead>
            <tbody class="tabl_contenu">
                <% @configDocAdherents.each_with_index do |configDocAdherent, index| %>
                    <tr class="ligne modal-button" id="edit_adherent_document_<%= configDocAdherent.id %>">
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.nom %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><% if configDocAdherent.duree_validite.to_i == 0 %><%= 'Non défini' %><% else %><%= configDocAdherent.duree_validite %> <%= configDocAdherent.format_duree_validite %><% end %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.obligatoire ? 'Oui' : 'Non' %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.archive ? 'Oui' : 'Non' %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <% # Documents Types %>
    <div class="content">
        <div class="modal-button modal-button2" id="add_etude_document">Ajouter un document type</div>
        <table class="tableau" id="search_tableau">
            <thead class="tabl_header">
                <tr class="header_row">
                    <th class="colonne">Nom</th>
                    <th class="colonne">Type</th>
                    <th class="colonne">Obligatoire</th>
                    <th class="colonne">Accessibilité</th>
                    <th class="colonne">Archivé</th>
                </tr>
            </thead>
            <tbody class="tabl_contenu">
                <% @configDocEtudes.each_with_index do |configDocEtude, index| %>
                    <tr class="ligne modal-button" id="edit_etude_document_<%= configDocEtude.id %>">
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.nom %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.type_doc %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.obligatoire ? 'Oui' : 'Non' %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.interne ? 'Usage Interne' : 'Usage Externe' %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.archive ? 'Oui' : 'Non' %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <% # Postes & Autorisations %>
    <div class="content">
        <h2>Poles</h2>
            <div class="inline_list2">
                <div class="modal-button inline_list_item bleu" id="add_pole">Ajouter un Pole</div>
                <% @poles.each_with_index do |pole, index| %>
                    <div class="modal-button inline_list_item"  id="edit_pole_<%= pole.id %>"><%= pole.nom %></div>
                <% end %>
            </div>
        <h2>Postes</h2>
            <div class="inline_list2">
                <div class="modal-button inline_list_item bleu" id="add_poste">Ajouter un Poste</div>
                <% @postes.each_with_index do |poste, index| %>
                    <div class="modal-button inline_list_item" id="edit_poste_<%= poste.id %>"><%= poste.nom %></div>
                <% end %>
            </div>
    </div>

    <div class="content">
        <h2>Permission</h2>
        <div class="inline_list2">
            <div class="h3"><%= link_to new_junior_junior_configuration_permission_path(@junior, @configuration) do %>Ajouter une classe d'autorisation<% end %></div>
            <% @permissions.each_with_index do |permission, index| %>
                <div class="inline_list_item"><%= link_to edit_junior_junior_configuration_permission_path(@junior, @configuration, permission) do %><%= permission.nom %><% end %></div>
            <% end %>
        </div>
    </div>

    <% # Autre %>
    <div class="content">
    </div>
  </div>
</div>

<% # Nouveau document Adherent %>
<div class="hex_modal" id="add_adherent_document">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_adherent_document">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @newConfigDocAdherent] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom du document' %>
                    </div>
                    <div class="label">Durée de validite</div>
                    <div class="input">
                        <%= f.input :duree_validite, label: false, value: 0, hint: "laisser 0 si pas de durée de validité" %>
                        <%= f.input :format_duree_validite, collection: ['jours', 'mois', 'an'], default: 'jours', label: false, hint: "Jours, Mois, Années" %>
                    </div>
                    <div class="input">
                        <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                        <%= f.input :archive, as: :boolean, label: 'Archiver le document', value: false, checked_value: true, unchecked_value: false %>
                    </div>
                </div>

                <div class="button">
                    <%= f.button :submit, "Ajouter le document" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% # Modifier document Adherent %>
<% @configDocAdherents.each_with_index do |configDocAdherent, index_modal| %>
    <div class="hex_modal" id="edit_adherent_document_<%= configDocAdherent.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_adherent_document_<%= configDocAdherent.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, configDocAdherent] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <%= f.hidden_field :id %>
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du document' %>
                        </div>
                        <div class="label">Durée de validite</div>
                        <div class="input">
                            <%= f.input :duree_validite, label: false, hint: "Mettre 0 si pas de durée de validité" %>
                            <%= f.input :format_duree_validite, collection: ['jours', 'mois', 'an'], default: 'jours', label: false, hint: "Jours, Mois, Années" %>
                        </div>
                        <div class="input">
                            <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                            <%= f.input :archive, as: :boolean, label: 'Archiver le document', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>

                    <div class="button">
                        <%= f.button :submit, "Mettre à jour le document" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # Nouveau Pole %>
<div class="hex_modal" id="add_pole">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_pole">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @pole] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <%= f.hidden_field :id %>
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom du Pole' %>
                    </div>
                    <div class="input">
                        <% # f.hidden_field :archive, as: :boolean, label: 'Archiver le poste', value: false, checked_value: true, unchecked_value: false %>
                    </div>
                </div>
                <div class="button">
                    <%= f.button :submit, "Créer le pole" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% # Modifier Pole %>
<% @poles.each do |pole| %>
    <div class="hex_modal" id="edit_pole_<%= pole.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_pole_<%= pole.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, pole] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <%= f.hidden_field :id %>
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du Pole' %>
                        </div>
                        <div class="input">
                            <% # f.input :archive, as: :boolean, label: 'Archiver le pole', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>
                    <div class="button">
                        <%= f.button :submit, "Modifier le pole" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # Nouveau Poste %>
<div class="hex_modal" id="add_poste">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_poste">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @poste] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <%= f.hidden_field :id %>
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom du Poste' %>
                    </div>
                    <div class="input">
                        <% # f.hidden_field :archive, as: :boolean, label: 'Archiver le poste', value: false, checked_value: true, unchecked_value: false %>
                    </div>
                </div>
                <div class="button">
                    <%= f.button :submit, "Créer le poste" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% # Modifier Poste %>
<% @postes.each do |poste| %>
    <div class="hex_modal" id="edit_poste_<%= poste.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_poste_<%= poste.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, poste] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <%= f.hidden_field :id %>
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du Poste' %>
                        </div>
                        <div class="input">
                            <% # f.input :archive,  as: :boolean, label: 'Archiver le poste', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>
                    <div class="button">
                        <%= f.button :submit, "Modifier le poste" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>


<% # Nouveau Permission %>
<div class="hex_modal" id="add_permission">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_permission">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @permission] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <%= f.hidden_field :id %>
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom de la classe de permissions' %>
                    </div>
                    <div class="input">
                        <% # f.hidden_field :archive, as: :boolean, label: 'Archiver le poste', value: false, checked_value: true, unchecked_value: false %>
                    </div>
                </div>
                <div class="button">
                    <%= f.button :submit, "Créer la classe de permissions" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% # Modifier Permission %>
<% @permissions.each do |permission| %>
    <div class="hex_modal" id="edit_permission_<%= permission.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_permission_<%= permission.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, permission] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <%= f.hidden_field :id %>
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du Permission' %>
                        </div>
                        <div class="input">
                            <% # f.input :archive,  as: :boolean, label: 'Archiver le permission', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>
                    <div class="button">
                        <%= f.button :submit, "Modifier le permission" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # Nouveau Prestation %>
<div class="hex_modal" id="add_prestation">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_prestation">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @new_prestation] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <%= f.hidden_field :id %>
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom de la prestations' %>
                    </div>
                    <div class="input">
                        <% # f.hidden_field :archive, as: :boolean, label: 'Archiver le poste', value: false, checked_value: true, unchecked_value: false %>
                    </div>
                </div>
                <div class="button">
                    <%= f.button :submit, "Créer la prestations" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% # Modifier prestation %>
<% @prestations.each do |prestation| %>
    <div class="hex_modal" id="edit_prestation_<%= prestation.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_prestation_<%= prestation.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, prestation] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <%= f.hidden_field :id %>
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du prestation' %>
                        </div>
                        <div class="input">
                            <% # f.input :archive,  as: :boolean, label: 'Archiver le prestation', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>
                    <div class="button">
                        <%= f.button :submit, "Modifier la prestation" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # Nouveau document Adherent %>
<div class="hex_modal" id="add_etude_document">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_etude_document">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @newConfigDocEtude] do |f| %>
                <%= f.error_notification %>
                <%= f.hidden_field :junior_configuration_id, value: @configuration.id %>
                <div class="formulaire">
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom du document' %>
                    </div>
                    <div class="input">
                        <%= f.input :type_doc, label: "Type de document", collection: [["Document d'adherent", "adherent"], ["Document d'étude", "etude"], ["Document de phase", "phase"], ["Document de postulant", "postulant"], ["Document concernant l'intervenant", "intervenant"]], hint: "A quoi/qui est rattaché le document ?" %>
                        <%= f.input :interne, collection: [['Document à usage interne', true], ['Document à usage externe', false]], label: "Accessibilité" %>                    </div>
                    <div class="input">
                        <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                        <%= f.input :archive, as: :boolean, label: 'Archiver le document', value: false, checked_value: true, unchecked_value: false %>
                    </div>
                    <div class="input" style="margin-bottom: 10px;">
                        <%= f.input :document_type, as: :file, label: 'Document type' %>
                    </div>
                </div>

                <div class="button">
                    <%= f.button :submit, "Ajouter le document" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% # Modifier document Etude %>
<% @configDocEtudes.each_with_index do |configDocEtude, index_modal| %>
    <div class="hex_modal" id="edit_etude_document_<%= configDocEtude.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_etude_document_<%= configDocEtude.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, configDocEtude] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <%= f.hidden_field :id %>
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du document' %>
                        </div>
                    <div class="input">
                        <%= f.input :type_doc, label: "Type de document", collection: [["Document d'adherent", "adherent"], ["Document d'étude", "etude"], ["Document de phase", "phase"], ["Document de postulant", "postulant"], ["Document concernant l'intervenant", "intervenant"]], hint: "A quoi/qui est rattaché le document ?" %>
                        <%= f.input :interne, collection: [['Document à usage interne', true], ['Document à usage externe', false]], label: "Accessibilité" %>
                    </div>
                        <div class="input">
                            <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                            <%= f.input :archive, as: :boolean, label: 'Archiver le document', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>

                    <div class="button">
                        <%= f.button :submit, "Mettre à jour le document" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>