<div class="menu">
  <div class="tabs">
    <div class="tab active">Niveau d'étude</div>
    <div class="tab">Documents d'adhésion</div>
    <div class="tab">Postes et Autorisations</div>
    <div class="tab">Autre</div>
  </div>
  <div class="contents">
    <% # Menu 1 %>
    <div class="content active">
        <%= simple_form_for [@junior, @configuration] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Niveau d'étude</div>
                        <div class="inputs"><%= f.input :niveau_etude, as: :array, label: false %></div>
                        
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[niveau_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Spécialisation d'étude</div>
                        <div class="inputs"><%= f.input :specialisation_etude, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[specialisation_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
            </div>

            <div class="button">
                <%= f.button :submit, "Enregistrer" %>
            </div>
        <% end %>    
    </div>

    <% # Documents d'Adhesion %>
    <div class="content">
        <div class="modal-button modal-button2" id="add_adherent_document">Ajouter un document d'adhésion</div>
        <table class="tableau" id="search_tableau">
            <thead class="tabl_header">
                <tr class="header_row">
                    <th class="colonne">Nom</th>
                    <th class="colonne">Durée Validité</th>
                    <th class="colonne">Obligatoire</th>
                    <th class="colonne">Archivé</th>
                </tr>
            </thead>
            <tbody class="tabl_contenu">
                <% @configDocAdherents.each_with_index do |configDocAdherent, index| %>
                    <tr class="ligne modal-button" id="edit_adherent_document_<%= configDocAdherent.id %>">
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.nom %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><% if configDocAdherent.duree_validite.to_i == 0 %><%= 'Non défini' %><% else %><%= configDocAdherent.duree_validite %> <%= configDocAdherent.format_duree_validite %><% end %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.obligatoire ? 'Oui' : 'Non' %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.archive ? 'Oui' : 'Non' %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <% # Postes & Autorisations %>
    <div class="content">
        <div>Poles</div>
        <div>Postes</div>
        <div>Autorisations</div>
    </div>

    <% # Menu 4 %>
    <div class="content">
    </div>
  </div>
</div>

<div class="hex_modal" id="add_adherent_document">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_adherent_document">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @newConfigDocAdherent] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom du document' %>
                    </div>
                    <div class="label">Durée de validite</div>
                    <div class="input">
                        <%= f.input :duree_validite, label: false, hint: "Mettre 0 si pas de durée de validité" %>
                        <%= f.input :format_duree_validite, collection: ['jours', 'mois', 'an'], default: 'jours', label: false, hint: "Jours, Mois, Années" %>
                    </div>
                    <div class="input">
                        <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                        <%= f.input :archive, as: :boolean, label: 'Archiver le document', checked_value: true, unchecked_value: false %>
                    </div>
                </div>

                <div class="button">
                    <%= f.button :submit, "Ajouter le document" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% @configDocAdherents.each_with_index do |configDocAdherent, index_modal| %>
    <div class="hex_modal" id="edit_adherent_document_<%= configDocAdherent.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_adherent_document_<%= configDocAdherent.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, configDocAdherent] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <%= f.hidden_field :id %>
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du document' %>
                        </div>
                        <div class="label">Durée de validite</div>
                        <div class="input">
                            <%= f.input :duree_validite, label: false, hint: "Mettre 0 si pas de durée de validité" %>
                            <%= f.input :format_duree_validite, collection: ['jours', 'mois', 'an'], default: 'jours', label: false, hint: "Jours, Mois, Années" %>
                        </div>
                        <div class="input">
                            <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                            <%= f.input :archive, as: :boolean, label: 'Archiver le document', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>

                    <div class="button">
                        <%= f.button :submit, "Mettre à jour le document" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>