<div class="menu">
  <div class="tabs">
    <div class="tab active">Niveau d'étude</div>
    <div class="tab">Documents d'adhésion</div>
    <div class="tab">Autre</div>
  </div>
  <div class="contents">
    <% # Menu 1 %>
    <div class="content active">
        <%= simple_form_for [@junior, @configuration] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Niveau d'étude</div>
                        <div class="inputs"><%= f.input :niveau_etude, as: :array, label: false %></div>
                        
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[niveau_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Spécialisation d'étude</div>
                        <div class="inputs"><%= f.input :specialisation_etude, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[specialisation_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
            </div>

            <div class="button">
                <%= f.button :submit, "Enregistrer" %>
            </div>
        <% end %>    
    </div>

    <% # Documents d'Adhesion %>
    <div class="content">
        <div class="modal_buttons">
            <% @configDocAdherents.each_with_index do |configDocAdherent, index| %>
                <div class="modal-button" id="edit_adherent_document_<%= index %>">
                    <div class='modal_button_each_content'> 
                        <%= configDocAdherent.nom %>
                    </div>
                </div>
            <% end %>
        
            <div class="modal-button modal-button2" id="add_adherent_document">
                Ajouter un document d'adhésion
            </div>
        </div>
    </div>

    <% # Menu 3 %>
    <div class="content">
    </div>

    <% # Menu 4 %>
    <div class="content">
    </div>
  </div>
</div>

<div class="hex_modal" id="add_adherent_document">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_adherent_document">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @configuration, @newConfigDocAdherent] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <div class="input">
                        <%= f.input :nom, required: true, label: 'Nom du document' %>
                    </div>
                    <div class="label">Durée de validite</div>
                    <div class="input">
                        <%= f.input :duree_validite, label: false, hint: "Mettre 0 si pas de durée de validité" %>
                        <%= f.input :format_duree_validite, collection: ['jours', 'mois', 'an'], default: 'jours', label: false, hint: "Jours, Mois, Années" %>
                    </div>
                    <div class="input">
                        <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                        <%= f.input :archive, as: :boolean, label: 'Archiver le document', checked_value: true, unchecked_value: false %>
                    </div>
                </div>

                <div class="button">
                    <%= f.button :submit, "Ajouter le document" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% @configDocAdherents.each_with_index do |configDocAdherent, index_modal| %>
    <div class="hex_modal" id="edit_adherent_document_<%= index_modal %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_adherent_document_<%= index_modal %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @configuration, configDocAdherent] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.input :nom, required: true, label: 'Nom du document' %>
                        </div>
                        <div class="label">Durée de validite</div>
                        <div class="input">
                            <%= f.input :duree_validite, label: false, hint: "Mettre 0 si pas de durée de validité" %>
                            <%= f.input :format_duree_validite, collection: ['jours', 'mois', 'an'], default: 'jours', label: false, hint: "Jours, Mois, Années" %>
                        </div>
                        <div class="input">
                            <%= f.input :obligatoire, as: :boolean, label: 'Rendre le document obligatoire', checked_value: true, unchecked_value: false %>
                            <%= f.input :archive, as: :boolean, label: 'Archiver le document', checked_value: true, unchecked_value: false %>
                        </div>
                    </div>

                    <div class="button">
                        <%= f.button :submit, "Ajouter le document" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>