<h1>Configuration - <%= @junior.nom%></h1>


<div class="menu">
  <div class="tabs">
    <div class="tab active">Enseignements</div>
    <div class="tab">Activité</div>
    <div class="tab">Etudes</div>
    <div class="tab">Adhésion</div>
    <div class="tab">Documents Types</div>
    <div class="tab">Membres</div>
    <div class="tab">Autorisations</div>
    <div class="tab">Autres</div>
  </div>
  <div class="contents">
    <% # Niveau Etude & Spécialité %>
    <div class="content active">
        <%= simple_form_for [@junior, @configuration] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Niveau d'étude</div>
                        <div class="inputs"><%= f.input :niveau_etude, as: :array, label: false %></div>
                        
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[niveau_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Spécialisation d'étude</div>
                        <div class="inputs"><%= f.input :specialisation_etude, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[specialisation_etude][]" id="add_new_input">Ajouter une entrée</div>
                </div>
            </div>

            <div class="button">
                <%= f.button :submit, "Enregistrer" %>
            </div>
        <% end %>    
    </div>


    <% # Prestations %>
    <div class="content"> 
        <h2>Prestations</h2>
        <div class="modal-button modal-button2" id="add_prestation">Ajouter une prestation</div>
        <div class="inline_list2">
            <% @prestations.each do |prestation| %> 
                <div class="inline_list_item modal-button" id="edit_prestation_<%= prestation.id %>">
                    <%= prestation.nom %>
                </div>
            <% end %>
        </div> 
    </div>

    <% # Etudes %>
    <div class="content"> 
        <%= simple_form_for [@junior, @configuration] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Types d'entreprises</div>
                        <div class="inputs"><%= f.input :types_entreprises, as: :array, label: false %></div>
                        
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[types_entreprises][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Provenances des clients</div>
                        <div class="inputs"><%= f.input :provenances_clients, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[provenances_clients][]" id="add_new_input">Ajouter une entrée</div>
                </div>
                <div class="array_forms">
                    <div class='array_input'>
                        <div class="label">Méthodes de premier contact</div>
                        <div class="inputs"><%= f.input :methodes_premier_contact, as: :array, label: false  %></div>
                    </div>
                    <div class="btn array_input_btn" name="junior_configuration[methodes_premier_contact][]" id="add_new_input">Ajouter une entrée</div>
                </div>
            </div>

            <div class="button">
                <%= f.button :submit, "Enregistrer" %>
            </div>
        <% end %>
    </div>

    <% # Documents d'Adhesion %>
    <div class="content">
        <div class="modal-button modal-button2" id="add_adherent_document">Ajouter un document d'adhésion</div>
        <table class="tableau" id="search_tableau">
            <thead class="tabl_header">
                <tr class="header_row">
                    <th class="colonne">Nom</th>
                    <th class="colonne">Durée Validité</th>
                    <th class="colonne">Obligatoire</th>
                    <th class="colonne">Archivé</th>
                </tr>
            </thead>
            <tbody class="tabl_contenu">
                <% @configDocAdherents.each_with_index do |configDocAdherent, index| %>
                    <tr class="ligne modal-button" id="edit_adherent_document_<%= configDocAdherent.id %>">
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.nom %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><% if configDocAdherent.duree_validite.to_i == 0 %><%= 'Non défini' %><% else %><%= configDocAdherent.duree_validite %> <%= configDocAdherent.format_duree_validite %><% end %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.obligatoire ? 'Oui' : 'Non' %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocAdherent.archive ? 'Oui' : 'Non' %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <% # Documents Types %>
    <div class="content">
        <div class="modal-button modal-button2" id="add_etude_document">Ajouter un document type</div>
        <table class="tableau" id="search_tableau">
            <thead class="tabl_header">
                <tr class="header_row">
                    <th class="colonne">Nom</th>
                    <th class="colonne">Type</th>
                    <th class="colonne">Obligatoire</th>
                    <th class="colonne">Accessibilité</th>
                    <th class="colonne">Archivé</th>
                </tr>
            </thead>
            <tbody class="tabl_contenu">
                <% @configDocEtudes.each_with_index do |configDocEtude, index| %>
                    <tr class="ligne modal-button" id="edit_etude_document_<%= configDocEtude.id %>">
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.nom %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.type_doc %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.obligatoire ? 'Oui' : 'Non' %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.interne ? 'Usage Interne' : 'Usage Externe' %></td>
                        <td class="colonne" style='color: var(--bleu-hex);'><%= configDocEtude.archive ? 'Oui' : 'Non' %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <% # Postes & Autorisations %>
    <div class="content">
        <h2>Poles</h2>
            <div class="inline_list2">
                <div class="modal-button inline_list_item bleu" id="add_pole">Ajouter un Pole</div>
                <% @poles.each_with_index do |pole, index| %>
                    <div class="modal-button inline_list_item"  id="edit_pole_<%= pole.id %>"><%= pole.nom %></div>
                <% end %>
            </div>
        <h2>Postes</h2>
            <div class="inline_list2">
                <div class="modal-button inline_list_item bleu" id="add_poste">Ajouter un Poste</div>
                <% @postes.each_with_index do |poste, index| %>
                    <div class="modal-button inline_list_item" id="edit_poste_<%= poste.id %>"><%= poste.nom %></div>
                <% end %>
            </div>
    </div>

    <div class="content">
        <h2>Permission</h2>
        <div class="inline_list2">
            <div class="h3"><%= link_to new_junior_junior_configuration_permission_path(@junior, @configuration) do %>Ajouter une classe d'autorisation<% end %></div>
            <% @permissions.each_with_index do |permission, index| %>
                <div class="inline_list_item"><%= link_to edit_junior_junior_configuration_permission_path(@junior, @configuration, permission) do %><%= permission.nom %><% end %></div>
            <% end %>
        </div>
    </div>

    <% # Autre %>
    <div class="content">
    </div>
  </div>
</div>




<% # =========================================================================================================================== %>
<% # Nouveau document Adherent %>
<div class="hex_modal2" id="add_adherent_document">
    <div class="modal_content">
        <div class="header">
            <div class="modal-close" id="add_adherent_document">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="main">
            <div class="formulaire">
                <div class="title">
                    <div class="ligne">Tu veux ajouter</div>
                    <div class="ligne">un document type</div>
                    <div class="ligne">d'étude ?</div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @configuration, @newConfigDocAdherent] do |f| %>
                        <%= f.error_notification %>
                        <%= f.hidden_field :id %>
                        <div class="input_line">
                            <%= f.input :nom,
                                        label: false,
                                        placeholder: "Nom du document",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :duree_validite,
                                        label: "Durée de validité",
                                        placeholder: "Durée de validité",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :format_duree_validite,
                                        placeholder: "Format durée de validité",
                                        collection: ['jours', 'mois', 'an'],
                                        default: 'jours',
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :obligatoire,
                                        label: false,
                                        include_blank: "Obligation",
                                        collection: [["Document Obligatoire", true], ["Document non obligatoire", false]],
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :archive,
                                        label: false,
                                        include_blank: "Archivage",
                                        collection: [["Document archivé", true], ["Document non archivé", false]],
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="button_line">
                            <%= f.button :button do %>
                            <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                            Ajouter le document d'adhésion
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="footer">
            <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
        </div>
    </div>
</div>

<% # Modifier document Adherent %>
<% @configDocAdherents.each_with_index do |configDocAdherent, index_modal| %>
    <div class="hex_modal2" id="edit_adherent_document_<%= configDocAdherent.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="edit_adherent_document_<%= configDocAdherent.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux modifier</div>
                        <div class="ligne">un document type</div>
                        <div class="ligne">d'étude ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @configuration, configDocAdherent] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :id %>
                            <div class="input_line">
                                <%= f.input :nom,
                                            label: false,
                                            placeholder: "Nom du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :duree_validite,
                                            label: "Durée de validité",
                                            placeholder: "Durée de validité",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :format_duree_validite,
                                            placeholder: "Format durée de validité",
                                            collection: ['jours', 'mois', 'an'],
                                            default: 'jours',
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :obligatoire,
                                            label: false, 
                                            collection: [["Document Obligatoire", true], ["Document non obligatoire", false]],
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :archive,
                                            label: false, 
                                            collection: [["Document archivé", true], ["Document non archivé", false]],
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Modifier le document d'adhésion
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>


<% # =========================================================================================================================== %>
<% # Nouveau Pole %>
<div class="hex_modal2" id="add_pole">
    <div class="modal_content">
        <div class="header">
            <div class="modal-close" id="add_pole">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="main">
            <div class="formulaire">
                <div class="title">
                    <div class="ligne">Tu veux ajouter</div>
                    <div class="ligne">un pole ?</div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @configuration, Pole.new] do |f| %>
                        <%= f.error_notification %>
                        <%= f.hidden_field :id %>
                        <div class="input_line">
                            <%= f.input :nom,
                                        label: false,
                                        placeholder: "Nom du pole",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="button_line">
                            <%= f.button :button do %>
                            <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                            Ajouter le pole
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="footer">
            <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
        </div>
    </div>
</div>


<% # Modifier Pole %>
<% @poles.each do |pole| %>
    <div class="hex_modal2" id="edit_pole_<%= pole.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="edit_pole_<%= pole.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux modifier</div>
                        <div class="ligne">un pole ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @configuration, pole] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :id %>
                            <div class="input_line">
                                <%= f.input :nom,
                                            label: false,
                                            placeholder: "Nom du pole",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Modifier le pole
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>


<% # =========================================================================================================================== %>
<% # Nouveau Poste %>
<div class="hex_modal2" id="add_poste">
    <div class="modal_content">
        <div class="header">
            <div class="modal-close" id="add_poste">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="main">
            <div class="formulaire">
                <div class="title">
                    <div class="ligne">Tu veux ajouter</div>
                    <div class="ligne">un poste ?</div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @configuration, @poste] do |f| %>
                        <%= f.error_notification %>
                        <%= f.hidden_field :id %>
                        <div class="input_line">
                            <%= f.input :nom,
                                        label: false,
                                        placeholder: "Nom du poste",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="button_line">
                            <%= f.button :button do %>
                            <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                            Ajouter le poste
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="footer">
            <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
        </div>
    </div>
</div>


<% # Modifier Poste %>
<% @postes.each do |poste| %>
    <div class="hex_modal2" id="edit_poste_<%= poste.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="edit_poste_<%= poste.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux modifier</div>
                        <div class="ligne">un poste ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @configuration, poste] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :id %>
                            <div class="input_line">
                                <%= f.input :nom,
                                            label: false,
                                            placeholder: "Nom du poste",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Modifier le poste
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>


<% # =========================================================================================================================== %>
<% # Nouveau Prestation %>
<div class="hex_modal2" id="add_prestation">
    <div class="modal_content">
        <div class="header">
            <div class="modal-close" id="add_prestation">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="main">
            <div class="formulaire">
                <div class="title">
                    <div class="ligne">Tu veux ajouter</div>
                    <div class="ligne">une prestation ?</div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @configuration, @new_prestation] do |f| %>
                        <%= f.error_notification %>
                        <%= f.hidden_field :id %>
                        <div class="input_line">
                            <%= f.input :nom,
                                        label: false,
                                        placeholder: "Nom de la prestation",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="button_line">
                            <%= f.button :button do %>
                            <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                            Ajouter la prestation
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="footer">
            <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
        </div>
    </div>
</div>


<% # Modifier prestation %>
<% @prestations.each do |prestation| %>
    <div class="hex_modal2" id="edit_prestation_<%= prestation.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="edit_prestation_<%= prestation.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux modifier</div>
                        <div class="ligne">une prestation ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @configuration, prestation] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :id %>
                            <div class="input_line">
                                <%= f.input :nom,
                                            label: false,
                                            placeholder: "Nom de la prestation",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Modifier la prestation
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>


<% # =========================================================================================================================== %>
<% # Nouveau document Etude %>
<div class="hex_modal2" id="add_etude_document">
    <div class="modal_content">
        <div class="header">
            <div class="modal-close" id="add_etude_document">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="main">
            <div class="formulaire">
                <div class="title">
                    <div class="ligne">Tu veux ajouter</div>
                    <div class="ligne">un document type</div>
                    <div class="ligne">d'étude ?</div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @configuration, @newConfigDocEtude] do |f| %>
                        <%= f.error_notification %>
                        <%= f.hidden_field :junior_configuration_id, value: @configuration.id %>
                        <div class="input_line">
                            <%= f.input :type_doc,
                                        label: false,
                                        collection: [["Document d'adherent", "adherent"], ["Document d'étude", "etude"], ["Document de phase", "phase"], ["Document de postulant", "postulant"], ["Document concernant l'intervenant", "intervenant"]],
                                        include_blank: "Type de document",
                                        input_html: { class: 'form_input' } %>
                        </div>       
                        <div class="input_line">
                            <%= f.input :nom,
                                        label: false,
                                        placeholder: "Nom du document",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :obligatoire,
                                        label: false, 
                                        collection: [["Document Obligatoire", true], ["Document non obligatoire", false]],
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :archive,
                                        label: false, 
                                        collection: [["Document archivé", true], ["Document non archivé", false]],
                                        input_html: { class: 'form_input' } %>
                        </div>

                        <div class="input_line">
                            <%= f.input :document_type,
                                        label: false, 
                                        as: :file,
                                        label: 'Document signé :',
                                        placeholder: "Document signé",
                                        input_html: { class: 'form_input' } %>
                        </div>

                        <div class="button_line">
                            <%= f.button :button do %>
                            <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                            Ajouter le document type
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="footer">
            <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
        </div>
    </div>
</div>


<% # Modifier document Etude %>
<% @configDocEtudes.each_with_index do |configDocEtude, index_modal| %>
    <div class="hex_modal2" id="edit_etude_document_<%= configDocEtude.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="edit_etude_document_<%= configDocEtude.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux modifier</div>
                        <div class="ligne">un document type</div>
                        <div class="ligne">d'étude ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @configuration, configDocEtude] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :id %>
                            <div class="input_line">
                                <%= f.input :type_doc,
                                            label: false,
                                            collection: [["Document d'adherent", "adherent"], ["Document d'étude", "etude"], ["Document de phase", "phase"], ["Document de postulant", "postulant"], ["Document concernant l'intervenant", "intervenant"]],
                                            include_blank: "Type de document",
                                            input_html: { class: 'form_input' } %>
                            </div>       
                            <div class="input_line">
                                <%= f.input :nom,
                                            label: false,
                                            placeholder: "Nom du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :obligatoire,
                                            label: false, 
                                            collection: [["Document Obligatoire", true], ["Document non obligatoire", false]],
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :archive,
                                            label: false, 
                                            collection: [["Document archivé", true], ["Document non archivé", false]],
                                            input_html: { class: 'form_input' } %>
                            </div>

                            <div class="input_line">
                                <%= f.input :document_type,
                                            label: false, 
                                            as: :file,
                                            label: 'Document signé :',
                                            placeholder: "Document signé",
                                            input_html: { class: 'form_input' } %>
                            </div>

                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Modifier le document type
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>