<h1><%= @etude.ref_etude %><%= @etude.client.nil? ? "" : " - " + @etude.client.entreprise %><%= " - " + @phase.nom %></h1>

<div class="menu">
  <div class="tabs">
    <div class="tab active">Informations</div>
    <div class="tab">Postulants</div>
    <div class="tab">Intervenants</div>
    <div class="tab">livrables</div>
  </div>
  <div class="contents margin_top_3">
    
    <% # Menu 1 %>
    <div class="content active">
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Date de début</div>
                <div class="donnee"><%= @phase.date_debut.strftime("%d/%m/%Y") %></div>
            </div>
            <div>
                <div class="label_donnee">Date de fin</div>
                <div class="donnee"><%= @phase.date_fin.strftime("%d/%m/%Y") %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Nombre d'intervenants</div>
                <div class="donnee"><%= @phase.nombre_intervenant %></div>
            </div>
            <div>
                <div class="label_donnee">Nombre de JEH par intervenant</div>
                <div class="donnee"><%= @phase.jeh_par_intervenant %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Frais sur la phase</div>
                <div class="donnee"><%= @phase.frais %></div>
            </div>
            <div>
                <div class="label_donnee">Montant brut par JEH</div>
                <div class="donnee"><%= @phase.remuneration_par_jeh %></div>
            </div>
            <div>
                <div class="label_donnee">Indémnisation par JEH</div>
                <div class="donnee"><%= @phase.indemnisation_par_jeh %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Description de la phase</div>
                <div class="donnee"><%= @phase.description_phase %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Description de la mission des intervenants</div>
                <div class="donnee"><%= @phase.description_mission_intervenant %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Lieux de la mission de l'intervenant</div>
                <div class="donnee"><%= @phase.lieux_mission.nil? ? "N/A" : @phase.lieux_mission %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Niveau d'étude de l'intervenant recherché</div>
                <div class="donnee"><%= @phase.niveau_etude_postulant.count == 0 ? "N/A" : @phase.niveau_etude_postulant.to_sentence %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Spécialisation d'étude de l'intervenant recherché</div>
                <div class="donnee"><%= @phase.specialisation_postulant.count == 0 ? "N/A" : @phase.specialisation_postulant.to_sentence %></div>
            </div>
        </div>
        

        <div class="h3"><%= link_to "Modifier les informations de la phase", edit_junior_etude_phase_path(@phase.etude.junior, @phase.etude, @phase) %></div>
    </div>      

    <% # Menu 2 %>
    <div class="content">
        <% if @campagne_selection.nil? %>
            <h2>Aucune campagne de selection d'intervenant n'a été débutée pour cette phase.</h2>
            <%= simple_form_for [@junior, @etude, @phase, @new_campagne_selection] do |f| %>
                <%= f.error_notification %>
                    <%= f.hidden_field :phase_id, value: @phase.id %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.button :submit, "Lancer une campagne de selection !", class: "h3" %>
            <% end %>
        <% elsif @campagne_selection.active == true %>
            <h2>La campagne de selection pour cette phase est en cours !</h2>
            <div class="cards_mission">
                <div class="card">
                    <div class="ligne">
                        <div class="colone">
                        <div class="label">Mission :</div>
                        <div class="longtext">
                            <%= @campagne_selection.phase.description_mission_intervenant %>
                        </div>
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="colone">
                        <div class="label">Du :</div>
                        <div class="courttext">
                            <%= @campagne_selection.phase.date_debut.strftime("%d/%m/%Y") %>
                        </div>
                        </div>
                        <div class="colone">
                        <div class="label">Au :</div>
                        <div class="courttext">
                            <%= @campagne_selection.phase.date_fin.strftime("%d/%m/%Y") %>
                        </div>
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="colone">
                        <div class="label">Où ?</div>
                        <div class="courttext">
                            <%= @campagne_selection.phase.lieux_mission.nil? ? "N/A" : @campagne_selection.phase.lieux_mission  %>
                        </div>
                        </div>
                        <div class="colone">
                            <div class="label">Combien ?</div>
                            <div class="courttext">
                                <%= (@campagne_selection.phase.indemnisation_par_jeh * @campagne_selection.phase.jeh_par_intervenant).to_s + " € brut" %>
                            </div>
                        </div>
                    </div>
                </div>
                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection], html: { class: "h_align_self" } do |f| %>
                    <%= f.error_notification %>
                        <%= f.hidden_field :phase_id, value: @phase.id %>
                        <%= f.hidden_field :active, value: false %>
                        <%= f.button :submit, "Mettre fin à la campagne de selection !", class: "h3" %>
                <% end %>
            </div>
        <% elsif @campagne_selection.active == false %>
            <h2>La campagne est terminée, relancer la campagne ?</h2>
            <%= simple_form_for [@junior, @etude, @phase, @campagne_selection] do |f| %>
                <%= f.error_notification %>
                    <%= f.hidden_field :phase_id, value: @phase.id %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.button :submit, "Relancer une campagne de selection !", class: "h3" %>
            <% end %>
        <% end %>

        <% if @campagne_selection.postulants.nil? %>
            <h2>Aucun adhérent n'a postulé à la mission !</h2>
        <% elsif @campagne_selection.postulants %>
            <h2>Liste des postulants :</h2>
            <% @campagne_selection.postulants.each do |postulant| %>
                <div class="mise_en_page2">
                    <div class="part border_vert reductible">
                        <div class="titre_reducteur">
                            <h2><%= postulant.user.adherent.prenom%> <%= postulant.user.adherent.nom%></h2>
                            <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
                            <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
                        </div>
                        <div class="content_reducteur">
                            <div class="h3">Documents obligatoires du postulant :</div>
                            <div class="display_donnee">
                                <div class="small-list">
                                    <% postulant_docs_controlled = @postulants_doc_controlled.select {|control| control[:postulant] = postulant.id }%>
                                    <% documents = postulant_docs_controlled.first[:documents]%>
                                    <% documents.each do |document| %>
                                        <% case document[:validite]; when "valid" then couleur = "vert"; when "pending" then couleur = "jaune"; when "invalid" then couleur = "rouge"; end %>
                                        <div class="small-item <%= couleur %>"><%= document[:nom] %></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="h3">Message du postulant :</div>
                            <div class="display_donnee">
                                <div>
                                    <div class="donnee"><%= postulant.selection_intervenant.phase.description_mission_intervenant ? postulant.selection_intervenant.phase.description_mission_intervenant : "N/A" %></div>
                                </div>
                            </div>
                            <div class="h3">En savoir plus sur le postulant :</div>
                                <div class="lien_jaune"><%= link_to "Cliquez ici pour aller sur le profil du postulant."%></div>
                            <div class="h3">Evaluer le postulant :</div>
                                <div class="modal-button3 modal-button" id="evaluer_postulant_<%= postulant.id %>">Cliquez ici pour évaluer le postulant</div>
                            <div class="h3">Actions :</div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <% # Menu 3 %>
    <div class="content">
        Listes intervenants
        Suivi RM, Avenants, QS/RP, BV, autres docs interv
    </div>

    <% # Menu 4 %>
    <div class="content">
        upload des livrables
    </div>
  </div>
</div>







<% @campagne_selection.postulants.each do |postulant| %>
    <div class="hex_modal" id="evaluer_postulant_<%= postulant.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="evaluer_postulant_<%= postulant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.input :note, collection: ["Bon profil", "Profil moyen", "Profil inadapté"], label: "Evaluation du profil de #{postulant.user.adherent.prenom} #{postulant.user.adherent.nom} pour la mission" %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Evaluer le postulant" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>