<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <h1><%= @etude.ref_etude %><%= @etude.client.nil? ? "" : " - " + @etude.client.entreprise %><%= " - " + @phase.nom + " - " %><%= @phase.statut.nil? ? "En cours" : @phase.statut %></h1>
    <div class="inline_list3" style="flex-flow: row;">
        <%= simple_form_for [@junior, @etude, @phase] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <%= f.hidden_field :statut, value: "Terminée" %>
                <div class="button">
                    <%= f.button :submit, "Terminée", class: "vert" %>
                </div>
            </div>
        <% end %>
        <%= simple_form_for [@junior, @etude, @phase] do |f| %>
            <%= f.error_notification %>
            <div class="formulaire">
                <%= f.hidden_field :statut, value: "En cours" %>
                <div class="button">
                    <%= f.button :submit, "En Cours", class: "jaune" %>
                </div>
            </div>
        <% end %>
    </div>
</div>


<div class="menu">
  <div class="tabs">
    <div class="tab active">Informations</div>
    <div class="tab">Postulants</div>
    <div class="tab">Intervenants</div>
    <div class="tab">Documents de phase</div>
  </div>
  <div class="contents margin_top_3">
    
    <% # Menu 1 %>
    <div class="content active">
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Date de début</div>
                <div class="donnee"><%= @phase.date_debut.strftime("%d/%m/%Y") %></div>
            </div>
            <div>
                <div class="label_donnee">Date de fin</div>
                <div class="donnee"><%= @phase.date_fin.strftime("%d/%m/%Y") %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Nombre d'intervenants</div>
                <div class="donnee"><%= @phase.nombre_intervenant %></div>
            </div>
            <div>
                <div class="label_donnee">Nombre de JEH par intervenant</div>
                <div class="donnee"><%= @phase.jeh_par_intervenant %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Frais sur la phase</div>
                <div class="donnee"><%= @phase.frais %></div>
            </div>
            <div>
                <div class="label_donnee">Montant brut par JEH</div>
                <div class="donnee"><%= @phase.remuneration_par_jeh %></div>
            </div>
            <div>
                <div class="label_donnee">Indémnisation par JEH</div>
                <div class="donnee"><%= @phase.indemnisation_par_jeh %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Description de la phase</div>
                <div class="donnee"><%= @phase.description_phase %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Description de la mission des intervenants</div>
                <div class="donnee"><%= @phase.description_mission_intervenant %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Lieux de la mission de l'intervenant</div>
                <div class="donnee"><%= @phase.lieux_mission.nil? ? "N/A" : @phase.lieux_mission %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Niveau d'étude de l'intervenant recherché</div>
                <div class="donnee"><%= @phase.niveau_etude_postulant.count == 0 ? "N/A" : @phase.niveau_etude_postulant.to_sentence %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Spécialisation d'étude de l'intervenant recherché</div>
                <div class="donnee"><%= @phase.specialisation_postulant.count == 0 ? "N/A" : @phase.specialisation_postulant.to_sentence %></div>
            </div>
        </div>
        

        <div class="h3"><%= link_to "Modifier les informations de la phase", edit_junior_etude_phase_path(@phase.etude.junior, @phase.etude, @phase) %></div>
        
    
    </div>      

    <% # Menu 2 %>
    <div class="content">
        <% if @campagne_selection.nil? %>
            <h2>Aucune campagne de selection d'intervenant n'a été débutée pour cette phase.</h2>
            <%= simple_form_for [@junior, @etude, @phase, @new_campagne_selection] do |f| %>
                <%= f.error_notification %>
                    <%= f.hidden_field :phase_id, value: @phase.id %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.button :submit, "Lancer une campagne de selection !", class: "h3" %>
            <% end %>
        <% elsif @campagne_selection.active == true %>
            <h2>La campagne de selection pour cette phase est en cours !</h2>
            <div class="mission_cards">
                <div class="card">
                    <div class="title_line">
                        Mission <%= @campagne_selection.phase.etude.ref_etude %> - <%= @campagne_selection.phase.nom %> :
                    </div>
                    <div class="gap_bottom content_line">
                        <%= @campagne_selection.phase.description_mission_intervenant %>
                    </div>

                    <div class="title_line">
                        Quand ? :
                    </div>
                    <div class="gap_bottom content_line">
                        Du <%= @campagne_selection.phase.date_debut.strftime("%d/%m/%Y") %> au <%= @campagne_selection.phase.date_fin.strftime("%d/%m/%Y") %>
                    </div>

                    <div class="title_line">
                        Où ? :
                    </div>
                    <div class="gap_bottom content_line">
                        <%= @campagne_selection.phase.lieux_mission.nil? ? "N/A" : @campagne_selection.phase.lieux_mission  %>
                    </div>

                    <div class="title_line">
                        Combien ? :
                    </div>
                    <div class="content_line">
                        <%= (@campagne_selection.phase.indemnisation_par_jeh * @campagne_selection.phase.jeh_par_intervenant) %>€ brut
                    </div>
                    
                    <div class="circle_text_button modal-button">
                        <div class="button">
                        <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                        Je candidate !
                        </div>
                    </div>

                    </div>
                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection], html: { class: "h_align_self" } do |f| %>
                    <%= f.error_notification %>
                        <%= f.hidden_field :phase_id, value: @phase.id %>
                        <%= f.hidden_field :active, value: false %>
                        <%= f.button :submit, "Mettre fin à la campagne de selection !", class: "h3" %>
                <% end %>
            </div>
        <% elsif @campagne_selection.active == false %>
            <h2>La campagne est terminée, relancer la campagne ?</h2>
            <%= simple_form_for [@junior, @etude, @phase, @campagne_selection] do |f| %>
                <%= f.error_notification %>
                    <%= f.hidden_field :phase_id, value: @phase.id %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.button :submit, "Relancer une campagne de selection !", class: "h3" %>
            <% end %>
        <% end %>

        <% if @campagne_selection.nil? || @campagne_selection.postulants.nil? %>
            <h2>Aucun adhérent n'a postulé à la mission !</h2>
        <% elsif @campagne_selection.postulants %>
            <h2>Liste des postulants :</h2>
            <% @campagne_selection.postulants.each do |postulant| %>
                <div class="mise_en_page2">
                    <% case postulant.note; when nil then couleur = "border_noir"; when "Profil moyen" then couleur = "border_jaune"; when "Bon profil" then couleur = "border_vert"; when "Profil inadapté" then couleur = "border_rouge"; end%>
                    <div class="part <%= couleur %> reductible">
                        <div class="titre_reducteur">
                            <h2><%= postulant.user.adherent.prenom%> <%= postulant.user.adherent.nom%></h2>
                            <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
                            <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
                        </div>
                        <div class="content_reducteur">
                            <div class="h3">Documents d'adhésion du postulant :</div>
                            <div class="display_donnee">
                                <div class="small-list">
                                    <% postulant_docs_controlled = @postulants_doc_controlled.select {|control| control[:postulant] = postulant.id }%>
                                    <% documents = postulant_docs_controlled.first[:documents]%>
                                    <% documents.each do |document| %>
                                        <% case document[:validite]; when "valid" then couleur = "vert"; when "pending" then couleur = "jaune"; when "invalid" then couleur = "rouge"; end %>
                                        <div class="small-item <%= couleur %>"><%= document[:nom] %></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="h3">Message du postulant :</div>
                            <div class="display_donnee">
                                <div>
                                    <div class="donnee"><%= postulant.selection_intervenant.phase.description_mission_intervenant ? postulant.selection_intervenant.phase.description_mission_intervenant : "N/A" %></div>
                                </div>
                            </div>
                            <div class="h3">Documents du postulant :</div>
                            <div class="modal-button4 modal-button" id="add_doc_postulant_<%= postulant.id %>">Ajouter un document postulant</div>
                            <div class="display_donnee">
                                <% if postulant.document_postulants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                    <div class="h4 txt_rouge">Aucun document postulant n'a été ajouté</div>
                                <% else %>
                                    <div class="small-list2">
                                        <% documents_postulants = postulant.document_postulants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                        <% documents_postulants.sort_by! { |doc| doc.ref_doc}.each do |doc_postulant| %>
                                            <% case doc_postulant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                            <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>"><%= doc_postulant.ref_doc %></div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="h3">Documents internes relatifs au postulant :</div>
                            <div class="modal-button4 modal-button" id="add_doc_interne_postulant_<%= postulant.id %>">Ajouter un document interne relatif au postulant</div>
                            <div class="display_donnee">
                                <% if postulant.document_postulants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                    <div class="h4 txt_rouge">Aucun document postulant n'a été ajouté</div>
                                <% else %>
                                    <div class="small-list2">
                                        <% documents_postulants = postulant.document_postulants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                        <% documents_postulants.sort_by!{ |doc| doc.ref_doc}.each do |doc_postulant| %>
                                            <% case doc_postulant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                            <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>"><%= doc_postulant.ref_doc %></div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="h3">En savoir plus sur le postulant :</div>
                                <div class="h4"><%= link_to "Cliquez ici pour aller sur le profil du postulant.", junior_adherent_path(@junior, postulant.user.adherent)%></div>
                            <div class="h3">Evaluer le postulant :</div>
                                <div class="modal-button4 modal-button" id="evaluer_postulant_<%= postulant.id %>">Cliquez ici pour évaluer le postulant</div>
                                <% case postulant.note; when "Bon profil" then couleur_note = "txt_vert"; when "Profil inadapté" then couleur_note = "txt_rouge"; when "Profil moyen" then couleur_note = "txt_jaune"; end%>
                                <div class="h4 <%= couleur_note%>"><%= postulant.note %></div>
                            <div class="h3">Choisir le postulant :</div>
                                <% if @phase.intervenants.find_by(user: postulant.user) %><div class="h4 txt_vert">Le postulant est déjà accepté</div><% else %><div class="modal-button3 modal-button txt_vert" id="create_intervenant_<%= postulant.id %>">Accepter le postulant pour la mission</div><% end %>
                                <% if @phase.intervenants.find_by(user: postulant.user) %><div class="h4 txt_rouge">Le postulant est déjà refusé</div><% else %><div class="modal-button3 modal-button txt_rouge" id="refuse_postulant_<%= postulant.id %>">Refuser le postulant pour la mission</div><% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <% # Menu 3 %>
    <div class="content">
        <h2>Liste des intervenants :</h2>
        <% @intervenants.each do |intervenant| %>
            <div class="mise_en_page2">
                    <div class="part border_bleu reductible">
                        <div class="titre_reducteur">
                            <h2><%= intervenant.ref_rm%> - <%= intervenant.user.adherent.prenom%> <%= intervenant.user.adherent.nom%></h2>
                            <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
                            <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
                        </div>
                        <div class="content_reducteur">
                            <div>
                                <div class="h3">Informations sur l'intervenant</div>
                                <div class="h4"><%= link_to "Cliquez ici pour aller sur le profil de l'intervenant.", junior_adherent_path(@junior, intervenant.user.adherent)%></div>
                            </div>
                            <div>
                                <div class="h3">Documents de l'intervenant</div>
                                <div class="modal-button4 modal-button" id="add_doc_intervenant_<%= intervenant.id %>">Ajouter un document intervenant</div>
                                <div class="display_donnee">
                                    <% if intervenant.document_intervenants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                        <div class="h4 txt_rouge">Aucun document intervenant n'a été ajouté</div>
                                    <% else %>
                                        <div class="small-list2">
                                            <% documents_intervenants = intervenant.document_intervenants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                            <% documents_intervenants.sort_by!{ |doc| doc.ref_doc}.each do |doc_intervenant| %>
                                                <% case doc_intervenant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                                <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>"><%= doc_intervenant.ref_doc %></div>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <div>
                                <div class="h3">Documents internes relatifs à l'intervenant</div>
                                <div class="modal-button4 modal-button" id="add_doc_interne_intervenant_<%= intervenant.id %>">Ajouter un document interne relatif à l'intervenant</div>
                                <div class="display_donnee">
                                    <% if intervenant.document_intervenants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                        <div class="h4 txt_rouge">Aucun document intervenant n'a été ajouté</div>
                                    <% else %>
                                        <div class="small-list2">
                                            <% documents_intervenants = intervenant.document_intervenants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                            <% documents_intervenants.sort_by!{ |doc| doc.ref_doc}.each do |doc_intervenant| %>
                                                <% case doc_intervenant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                                <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>"><%= doc_intervenant.ref_doc %></div>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <% end %>
    </div>

    <% # Menu 4 %>
    <div class="content">
        <h2>Liste des documents de la phase :</h2>
        <div class="modal-button3 modal-button" id="add_doc_phase">Ajouter un document relatif à la phase</div>
        <% @phase.document_phases.sort_by{ |doc| doc.ref_doc}.each do |doc_phase| %>
            <div class="mise_en_page2">
                <% case doc_phase.validite; when "invalide" then couldocphase = "border_rouge"; when "valide" then couldocphase = "border_vert"; when nil then couldocphase = "border_jaune"; end %>
                <div class="part <%=couldocphase%> reductible">
                    <div class="titre_reducteur">
                        <h2><%= doc_phase.ref_doc%> - <%= doc_phase.nom%></h2>
                        <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
                        <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
                    </div>
                    <div class="content_reducteur">
                        <%if doc_phase.document.url%><%= link_to doc_phase.document.url, target: :_blank do %> <div style='color: var(--bleu-hex)'>Voir le document <i class="fas fa-eye"></i></div><% end %><% end %>
                        <div class="modal-button3 modal-button" id="edit_doc_phase_<%= doc_phase.id %>">Modifier le document</div>
                    </div>
                </div>
            </div>
        <% end %>   
    </div>
</div>





<% # ==========================================================================================================================%>
<% # Ajouter document intervenant %>
<% @intervenants.each do |intervenant| %>
    <div class="hex_modal2" id="add_doc_intervenant_<%= intervenant.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="add_doc_intervenant_<%= intervenant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux ajouter</div>
                        <div class="ligne">un document</div>
                        <div class="ligne">intervenant ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @etude, @phase, intervenant, DocumentIntervenant.new] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :intervenant_id, value: intervenant.id %>
                            <div class="input_line">
                                <%= f.input :nom,
                                            label: false,
                                            collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "phase", interne: false),
                                            :label_method => lambda { |doc| "#{doc.nom}" },
                                            value_method: :nom,
                                            include_blank: "Nom du document",
                                            selected: "Nom du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :ref_doc,
                                            label: false, 
                                            placeholder: "Référence du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :date_signature,
                                            label:  "Date d'émission",
                                            as: :date,
                                            html5: true,
                                            placeholder: "Date d'émission",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :validite,
                                            label: false,
                                            include_blank: "Validité du document",
                                            selected: "Validité du document",
                                            collection: [["Document valide", "valide"], ["Document invalide", "invalide"]],
                                            placeholder: "Validité du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :document,
                                            label: false, 
                                            as: :file,
                                            label: 'Document signé :',
                                            placeholder: "Document signé",
                                            input_html: { class: 'form_input' } %>
                            </div>

                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Ajouter le document
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>


<% # ==========================================================================================================================%>
<% # Ajouter document interne intervenant %>
<% @intervenants.each do |intervenant| %>
    <div class="hex_modal2" id="add_doc_interne_intervenant_<%= intervenant.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="add_doc_interne_intervenant_<%= intervenant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux ajouter</div>
                        <div class="ligne">un document</div>
                        <div class="ligne">intervenant ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @etude, @phase, intervenant, DocumentIntervenant.new] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :intervenant_id, value: intervenant.id %>
                            <div class="input_line">
                                <%= f.input :nom,
                                            label: false,
                                            collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "phase", interne: true),
                                            :label_method => lambda { |doc| "#{doc.nom}" },
                                            value_method: :nom,
                                            include_blank: "Nom du document",
                                            selected: "Nom du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :ref_doc,
                                            label: false, 
                                            placeholder: "Référence du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :date_signature,
                                            label:  "Date d'émission",
                                            as: :date,
                                            html5: true,
                                            placeholder: "Date d'émission",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :validite,
                                            label: false,
                                            include_blank: "Validité du document",
                                            selected: "Validité du document",
                                            collection: [["Document valide", "valide"], ["Document invalide", "invalide"]],
                                            placeholder: "Validité du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :document,
                                            label: false, 
                                            as: :file,
                                            label: 'Document signé :',
                                            placeholder: "Document signé",
                                            input_html: { class: 'form_input' } %>
                            </div>

                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Ajouter le document
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>


<% # Modifier document intervenant %>
<% @intervenants.each do |intervenant| %>
    <% intervenant.document_intervenants.each do |doc_intervenant| %>
        <div class="hex_modal2" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>">
            <div class="modal_content">
                <div class="header">
                    <div class="modal-close" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="main">
                    <div class="formulaire">
                        <div class="title">
                            <div class="ligne">Tu veux ajouter</div>
                            <div class="ligne">un document</div>
                            <div class="ligne">intervenant ?</div>
                        </div>
                        <div class="content">
                            <%= simple_form_for [@junior, @etude, @phase, intervenant, doc_intervenant] do |f| %>
                                <%= f.error_notification %>
                                <%= f.hidden_field :intervenant_id, value: intervenant.id %>
                                <div class="input_line">
                                    <%= f.input :ref_doc,
                                                label: false, 
                                                placeholder: "Référence du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :date_signature,
                                                label: "Date d'émission",
                                                as: :date,
                                                html5: true,
                                                placeholder: "Date d'émission",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :validite,
                                                label: false,
                                                include_blank: "Validité du document",
                                                selected: "Validité du document",
                                                collection: [["Document valide", "valide"], ["Document invalide", "invalide"]],
                                                placeholder: "Validité du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :document,
                                                label: false, 
                                                as: :file,
                                                label: 'Document signé :',
                                                placeholder: "Document signé",
                                                input_html: { class: 'form_input' } %>
                                </div>

                                <div class="button_line">
                                    <%= f.button :button do %>
                                    <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                    Modifier le document
                                    <% end %>
                                </div>
                                <div class="button_line">
                                    <%= link_to new_junior_generated_document_path(@junior, generated_document: {document_class: doc_intervenant.class.to_s, document_id: doc_intervenant}), class: 'btn' do %>
                                        <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                        Générer le template
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
                </div>
            </div>
        </div>
    <% end %>        
<% end %>


<% # ==========================================================================================================================%>
<% # Ajouter document phase %>
<div class="hex_modal2" id="add_doc_phase">
    <div class="modal_content">
        <div class="header">
            <div class="modal-close" id="add_doc_phase">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="main">
            <div class="formulaire">
                <div class="title">
                    <div class="ligne">Tu veux ajouter</div>
                    <div class="ligne">un document</div>
                    <div class="ligne">à la phase ?</div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @etude, @phase, DocumentPhase.new] do |f| %>
                        <%= f.error_notification %>
                        <%= f.hidden_field :phase_id, value: @phase.id %>
                        <div class="input_line">
                            <%= f.input :nom,
                                        label: false,
                                        collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "phase"),
                                        :label_method => lambda { |doc| "#{doc.nom}" },
                                        value_method: :nom,
                                        include_blank: "Nom du document",
                                        selected: "Nom du document",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :ref_doc,
                                        label: false, 
                                        placeholder: "Référence du document",
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :date_signature,
                                        label: "Date d'émission", 
                                        as: :date,
                                        html5: true,
                                        input_html: { class: 'form_input' } %>
                        </div>
                        <div class="input_line">
                            <%= f.input :document,
                                        label: false, 
                                        as: :file,
                                        label: 'Document signé :',
                                        placeholder: "Document signé",
                                        input_html: { class: 'form_input' } %>
                        </div>

                        <div class="button_line">
                            <%= f.button :button do %>
                            <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                            Ajouter un document
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="footer">
            <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
        </div>
    </div>
</div>


<% # Modifier document phase %>
<% @phase.document_phases.each do |doc_phase| %>
    <div class="hex_modal2" id="edit_doc_phase_<%= doc_phase.id %>">
        <div class="modal_content">
            <div class="header">
                <div class="modal-close" id="edit_doc_phase_<%= doc_phase.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="main">
                <div class="formulaire">
                    <div class="title">
                        <div class="ligne">Tu veux ajouter</div>
                        <div class="ligne">un document</div>
                        <div class="ligne">à la phase ?</div>
                    </div>
                    <div class="content">
                        <%= simple_form_for [@junior, @etude, @phase, doc_phase] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :phase_id, value: @phase.id %>
                            <div class="input_line">
                                <%= f.input :ref_doc,
                                            label: false, 
                                            placeholder: "Référence du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :date_signature,
                                            label: "Date d'émission", 
                                            as: :date,
                                            html5: true,
                                            placeholder: "Date d'émission ?",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :validite,
                                            label: false,
                                            include_blank: "Validité du document",
                                            selected: "Validité du document",
                                            collection: [["Document valide", "valide"], ["Document invalide", "invalide"]],
                                            placeholder: "Validité du document",
                                            input_html: { class: 'form_input' } %>
                            </div>
                            <div class="input_line">
                                <%= f.input :document,
                                            label: false, 
                                            as: :file,
                                            label: 'Document signé :',
                                            placeholder: "Document signé",
                                            input_html: { class: 'form_input' } %>
                            </div>

                            <div class="button_line">
                                <%= f.button :button do %>
                                <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                Modifier le document
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
            </div>
        </div>
    </div>
<% end %>

<% # ==========================================================================================================================%>
<% # Evaluer le postulant%>
<% if !@campagne_selection.nil? %>
    <% @campagne_selection.postulants.each do |postulant| %>
        <div class="hex_modal2" id="evaluer_postulant_<%= postulant.id %>">
            <div class="modal_content">
                <div class="header">
                    <div class="modal-close" id="evaluer_postulant_<%= postulant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="main">
                    <div class="formulaire">
                        <div class="title">
                            <div class="ligne">Tu veux évaluer</div>
                            <div class="ligne">le profil </div>
                            <div class="ligne">du postulant ?</div>
                        </div>
                        <div class="content">
                            <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant] do |f| %>
                                <%= f.error_notification %>
                                <div class="input_line">
                                    <%= f.input :note,
                                                label: false,
                                                collection: ["Bon profil", "Profil moyen", "Profil inadapté"],
                                                include_blank: "Nom du document",
                                                selected: "Nom du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="button_line">
                                    <%= f.button :button do %>
                                        <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                        Evaluer le postulant
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
                </div>
            </div>
        </div>
    <% end %>


    <% # ==========================================================================================================================%>
    <% # créer intervenant%>
    <% @campagne_selection.postulants.each do |postulant| %>
        <div class="hex_modal2" id="create_intervenant_<%= postulant.id %>">
            <div class="modal_content">
                <div class="header">
                    <div class="modal-close" id="create_intervenant_<%= postulant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="main">
                    <div class="formulaire">
                        <div class="title">
                            <div class="ligne">Tu veux selectionner</div>
                            <div class="ligne">le postulant </div>
                            <div class="ligne">pour la mission ?</div>
                        </div>
                        <div class="content">
                            <%= simple_form_for [@junior, @etude, @phase, @new_intervenant] do |f| %>
                                <%= f.error_notification %>
                                <%= f.hidden_field :phase_id, value: @phase.id %>
                                <%= f.hidden_field :user_id, value: postulant.user.id %>
                                <%= simple_fields_for :postulant do |o| %>
                                    <%= o.hidden_field :postulant_id, value: postulant.id %>
                                <% end %>
                                <div class="input_line">
                                    <%= f.input :ref_rm,
                                                label: false,
                                                required: true,
                                                placeholder: "Référence du RM",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="button_line">
                                    <%= f.button :button do %>
                                    <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                    Ajouter un intervenant
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
                </div>
            </div>
        </div>
    <% end %>

    <% # refuser intervenant%>
    <% @campagne_selection.postulants.each do |postulant| %>
        <div class="hex_modal2" id="refuse_postulant_<%= postulant.id %>">
            <div class="modal_content">
                <div class="header">
                    <div class="modal-close" id="refuse_postulant_<%= postulant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="main">
                    <div class="formulaire">
                        <div class="title">
                            <div class="ligne">Tu veux refuser</div>
                            <div class="ligne">le postulant </div>
                            <div class="ligne">pour la mission ?</div>
                        </div>
                        <div class="content">
                            <%= simple_form_for [@junior, @etude, @phase, postulant.selection_intervenant, postulant] do |f| %>
                                <%= f.error_notification %>
                                <%= f.hidden_field :statut, value: "refusé" %>
                                <div class="button_line">
                                    <%= f.button :button do %>
                                    <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                    Refuser le postulant
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
                </div>
            </div>
        </div>
    <% end %>


    <% # ==========================================================================================================================%>
    <% # Ajouter document postulant %>
    <% @campagne_selection.postulants.each do |postulant| %>
        <div class="hex_modal2" id="add_doc_postulant_<%= postulant.id %>">
            <div class="modal_content">
                <div class="header">
                    <div class="modal-close" id="add_doc_postulant_<%= postulant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="main">
                    <div class="formulaire">
                        <div class="title">
                            <div class="ligne">Tu veux ajouter</div>
                            <div class="ligne">un document</div>
                            <div class="ligne">postulant ?</div>
                        </div>
                        <div class="content">
                            <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant, DocumentPostulant.new] do |f| %>
                                <%= f.error_notification %>
                                <%= f.hidden_field :postulant_id, value: postulant.id %>
                                <div class="input_line">
                                    <%= f.input :nom,
                                                label: false,
                                                collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "postulant", interne: false),
                                                :label_method => lambda { |doc| "#{doc.nom}" },
                                                value_method: :nom,
                                                include_blank: "Nom du document",
                                                selected: "Nom du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :ref_doc,
                                                label: false, 
                                                placeholder: "Référence du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :date_signature,
                                                label: false, 
                                                as: :date,
                                                html5: true,
                                                placeholder: "Date d'émission ?",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :validite,
                                                label: false,
                                                include_blank: "Validité du document",
                                                selected: "Validité du document",
                                                collection: [["Document valide", "valide"], ["Document invalide", "invalide"]],
                                                placeholder: "Validité du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :document,
                                                label: false, 
                                                as: :file,
                                                label: 'Document signé :',
                                                placeholder: "Document signé",
                                                input_html: { class: 'form_input' } %>
                                </div>

                                <div class="button_line">
                                    <%= f.button :button do %>
                                    <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                    Ajouter le document
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
                </div>
            </div>
        </div>
    <% end %>


    <% # ==========================================================================================================================%>
    <% # Ajouter document interne postulant %>
    <% @campagne_selection.postulants.each do |postulant| %>
        <div class="hex_modal2" id="add_doc_interne_postulant_<%= postulant.id %>">
            <div class="modal_content">
                <div class="header">
                    <div class="modal-close" id="add_doc_interne_postulant_<%= postulant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="main">
                    <div class="formulaire">
                        <div class="title">
                            <div class="ligne">Tu veux ajouter</div>
                            <div class="ligne">un document</div>
                            <div class="ligne">postulant interne ?</div>
                        </div>
                        <div class="content">
                            <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant, DocumentPostulant.new] do |f| %>
                                <%= f.error_notification %>
                                <%= f.hidden_field :postulant_id, value: postulant.id %>
                                <div class="input_line">
                                    <%= f.input :nom,
                                                label: false,
                                                collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "postulant", interne: true),
                                                :label_method => lambda { |doc| "#{doc.nom}" },
                                                value_method: :nom,
                                                include_blank: "Nom du document",
                                                selected: "Nom du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :ref_doc,
                                                label: false, 
                                                placeholder: "Référence du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :date_signature,
                                                label: false, 
                                                as: :date,
                                                html5: true,
                                                placeholder: "Date d'émission ?",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :validite,
                                                label: false,
                                                include_blank: "Validité du document",
                                                selected: "Validité du document",
                                                collection: [["Document valide", "valide"], ["Document invalide", "invalide"]],
                                                placeholder: "Validité du document",
                                                input_html: { class: 'form_input' } %>
                                </div>
                                <div class="input_line">
                                    <%= f.input :document,
                                                label: false, 
                                                as: :file,
                                                label: 'Document signé :',
                                                placeholder: "Document signé",
                                                input_html: { class: 'form_input' } %>
                                </div>

                                <div class="button_line">
                                    <%= f.button :button do %>
                                    <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                    Ajouter le document
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
                </div>
            </div>
        </div>
    <% end %>


    <% # Modifier document intervenant %>
    <% @campagne_selection.postulants.each do |postulant| %>
        <% postulant.document_postulants.each do |doc_postulant| %>
            <div class="hex_modal2" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>">
                <div class="modal_content">
                    <div class="header">
                        <div class="modal-close" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="main">
                        <div class="formulaire">
                            <div class="title">
                                <div class="ligne">Tu veux modifier</div>
                                <div class="ligne">un document</div>
                                <div class="ligne">postulant ?</div>
                            </div>
                            <div class="content">
                                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant, doc_postulant] do |f| %>
                                    <%= f.error_notification %>
                                    <div class="input_line">
                                        <%= f.input :ref_doc,
                                                    label: false, 
                                                    placeholder: "Référence du document",
                                                    input_html: { class: 'form_input' } %>
                                    </div>
                                    <div class="input_line">
                                        <%= f.input :date_signature,
                                                    label: false, 
                                                    as: :date,
                                                    html5: true,
                                                    placeholder: "Date d'émission ?",
                                                    input_html: { class: 'form_input' } %>
                                    </div>
                                    <div class="input_line">
                                        <%= f.input :validite,
                                                    label: false,
                                                    include_blank: "Validité du document",
                                                    selected: "Validité du document",
                                                    collection: [["Document valide", "valide"], ["Document invalide", "invalide"]],
                                                    placeholder: "Validité du document",
                                                    input_html: { class: 'form_input' } %>
                                    </div>
                                    <div class="input_line">
                                        <%= f.input :document,
                                                    label: false, 
                                                    as: :file,
                                                    label: 'Document signé :',
                                                    placeholder: "Document signé",
                                                    input_html: { class: 'form_input' } %>
                                    </div>

                                    <div class="button_line">
                                        <%= f.button :button do %>
                                        <span class="circle_arrow1"><i class="fas fa-arrow-right"></i></span>
                                        Modifier le document
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <%= image_tag 'HEX_BLANC', style: 'height:5vh; width: auto;'%>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>


