<h1><%= @etude.ref_etude %><%= @etude.client.nil? ? "" : " - " + @etude.client.entreprise %><%= " - " + @phase.nom %></h1>

<div class="menu">
  <div class="tabs">
    <div class="tab active">Informations</div>
    <div class="tab">Postulants</div>
    <div class="tab">Intervenants</div>
    <div class="tab">Documents de phase</div>
  </div>
  <div class="contents margin_top_3">
    
    <% # Menu 1 %>
    <div class="content active">
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Date de début</div>
                <div class="donnee"><%= @phase.date_debut.strftime("%d/%m/%Y") %></div>
            </div>
            <div>
                <div class="label_donnee">Date de fin</div>
                <div class="donnee"><%= @phase.date_fin.strftime("%d/%m/%Y") %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Nombre d'intervenants</div>
                <div class="donnee"><%= @phase.nombre_intervenant %></div>
            </div>
            <div>
                <div class="label_donnee">Nombre de JEH par intervenant</div>
                <div class="donnee"><%= @phase.jeh_par_intervenant %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Frais sur la phase</div>
                <div class="donnee"><%= @phase.frais %></div>
            </div>
            <div>
                <div class="label_donnee">Montant brut par JEH</div>
                <div class="donnee"><%= @phase.remuneration_par_jeh %></div>
            </div>
            <div>
                <div class="label_donnee">Indémnisation par JEH</div>
                <div class="donnee"><%= @phase.indemnisation_par_jeh %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Description de la phase</div>
                <div class="donnee"><%= @phase.description_phase %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Description de la mission des intervenants</div>
                <div class="donnee"><%= @phase.description_mission_intervenant %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Lieux de la mission de l'intervenant</div>
                <div class="donnee"><%= @phase.lieux_mission.nil? ? "N/A" : @phase.lieux_mission %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Niveau d'étude de l'intervenant recherché</div>
                <div class="donnee"><%= @phase.niveau_etude_postulant.count == 0 ? "N/A" : @phase.niveau_etude_postulant.to_sentence %></div>
            </div>
        </div>
        <div class="display_donnee">
            <div>
                <div class="label_donnee">Spécialisation d'étude de l'intervenant recherché</div>
                <div class="donnee"><%= @phase.specialisation_postulant.count == 0 ? "N/A" : @phase.specialisation_postulant.to_sentence %></div>
            </div>
        </div>
        

        <div class="h3"><%= link_to "Modifier les informations de la phase", edit_junior_etude_phase_path(@phase.etude.junior, @phase.etude, @phase) %></div>
    </div>      

    <% # Menu 2 %>
    <div class="content">
        <% if @campagne_selection.nil? %>
            <h2>Aucune campagne de selection d'intervenant n'a été débutée pour cette phase.</h2>
            <%= simple_form_for [@junior, @etude, @phase, @new_campagne_selection] do |f| %>
                <%= f.error_notification %>
                    <%= f.hidden_field :phase_id, value: @phase.id %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.button :submit, "Lancer une campagne de selection !", class: "h3" %>
            <% end %>
        <% elsif @campagne_selection.active == true %>
            <h2>La campagne de selection pour cette phase est en cours !</h2>
            <div class="cards_mission">
                <div class="card">
                    <div class="ligne">
                        <div class="colone">
                        <div class="label">Mission :</div>
                        <div class="longtext">
                            <%= @campagne_selection.phase.description_mission_intervenant %>
                        </div>
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="colone">
                        <div class="label">Du :</div>
                        <div class="courttext">
                            <%= @campagne_selection.phase.date_debut.strftime("%d/%m/%Y") %>
                        </div>
                        </div>
                        <div class="colone">
                        <div class="label">Au :</div>
                        <div class="courttext">
                            <%= @campagne_selection.phase.date_fin.strftime("%d/%m/%Y") %>
                        </div>
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="colone">
                        <div class="label">Où ?</div>
                        <div class="courttext">
                            <%= @campagne_selection.phase.lieux_mission.nil? ? "N/A" : @campagne_selection.phase.lieux_mission  %>
                        </div>
                        </div>
                        <div class="colone">
                            <div class="label">Combien ?</div>
                            <div class="courttext">
                                <%= (@campagne_selection.phase.indemnisation_par_jeh * @campagne_selection.phase.jeh_par_intervenant).to_s + " € brut" %>
                            </div>
                        </div>
                    </div>
                </div>
                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection], html: { class: "h_align_self" } do |f| %>
                    <%= f.error_notification %>
                        <%= f.hidden_field :phase_id, value: @phase.id %>
                        <%= f.hidden_field :active, value: false %>
                        <%= f.button :submit, "Mettre fin à la campagne de selection !", class: "h3" %>
                <% end %>
            </div>
        <% elsif @campagne_selection.active == false %>
            <h2>La campagne est terminée, relancer la campagne ?</h2>
            <%= simple_form_for [@junior, @etude, @phase, @campagne_selection] do |f| %>
                <%= f.error_notification %>
                    <%= f.hidden_field :phase_id, value: @phase.id %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.button :submit, "Relancer une campagne de selection !", class: "h3" %>
            <% end %>
        <% end %>

        <% if @campagne_selection.postulants.nil? %>
            <h2>Aucun adhérent n'a postulé à la mission !</h2>
        <% elsif @campagne_selection.postulants %>
            <h2>Liste des postulants :</h2>
            <% @campagne_selection.postulants.each do |postulant| %>
                <div class="mise_en_page2">
                    <% case postulant.note; when nil then couleur = "border_noir"; when "Profil moyen" then couleur = "border_jaune"; when "Bon profil" then couleur = "border_vert"; when "Profil inadapté" then couleur = "border_rouge"; end%>
                    <div class="part <%= couleur %> reductible">
                        <div class="titre_reducteur">
                            <h2><%= postulant.user.adherent.prenom%> <%= postulant.user.adherent.nom%></h2>
                            <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
                            <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
                        </div>
                        <div class="content_reducteur">
                            <div class="h3">Documents d'adhésion du postulant :</div>
                            <div class="display_donnee">
                                <div class="small-list">
                                    <% postulant_docs_controlled = @postulants_doc_controlled.select {|control| control[:postulant] = postulant.id }%>
                                    <% documents = postulant_docs_controlled.first[:documents]%>
                                    <% documents.each do |document| %>
                                        <% case document[:validite]; when "valid" then couleur = "vert"; when "pending" then couleur = "jaune"; when "invalid" then couleur = "rouge"; end %>
                                        <div class="small-item <%= couleur %>"><%= document[:nom] %></div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="h3">Message du postulant :</div>
                            <div class="display_donnee">
                                <div>
                                    <div class="donnee"><%= postulant.selection_intervenant.phase.description_mission_intervenant ? postulant.selection_intervenant.phase.description_mission_intervenant : "N/A" %></div>
                                </div>
                            </div>
                            <div class="h3">Documents du postulant :</div>
                            <div class="modal-button4 modal-button" id="add_doc_postulant_<%= postulant.id %>">Ajouter un document postulant</div>
                            <div class="display_donnee">
                                <% if postulant.document_postulants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                    <div class="h4 txt_rouge">Aucun document postulant n'a été ajouté</div>
                                <% else %>
                                    <div class="small-list2">
                                        <% documents_postulants = postulant.document_postulants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                        <% documents_postulants.sort_by! { |doc| doc.ref_doc}.each do |doc_postulant| %>
                                            <% case doc_postulant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                            <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>"><%= doc_postulant.ref_doc %></div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="h3">Documents internes relatifs au postulant :</div>
                            <div class="modal-button4 modal-button" id="add_doc_interne_postulant_<%= postulant.id %>">Ajouter un document interne relatif au postulant</div>
                            <div class="display_donnee">
                                <% if postulant.document_postulants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                    <div class="h4 txt_rouge">Aucun document postulant n'a été ajouté</div>
                                <% else %>
                                    <div class="small-list2">
                                        <% documents_postulants = postulant.document_postulants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                        <% documents_postulants.sort_by!{ |doc| doc.ref_doc}.each do |doc_postulant| %>
                                            <% case doc_postulant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                            <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>"><%= doc_postulant.ref_doc %></div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="h3">En savoir plus sur le postulant :</div>
                                <div class="h4"><%= link_to "Cliquez ici pour aller sur le profil du postulant.", junior_adherent_path(@junior, postulant.user.adherent)%></div>
                            <div class="h3">Evaluer le postulant :</div>
                                <div class="modal-button4 modal-button" id="evaluer_postulant_<%= postulant.id %>">Cliquez ici pour évaluer le postulant</div>
                                <% case postulant.note; when "Bon profil" then couleur_note = "txt_vert"; when "Profil inadapté" then couleur_note = "txt_rouge"; when "Profil moyen" then couleur_note = "txt_jaune"; end%>
                                <div class="h4 <%= couleur_note%>"><%= postulant.note %></div>
                            <div class="h3">Choisir le postulant :</div>
                                <% if @phase.intervenants.find_by(user: postulant.user) %><div class="h4 txt_vert">Le postulant est déjà selectionné en tant qu'intervenant</div><% else %><div class="modal-button3 modal-button" id="create_intervenant_<%= postulant.id %>">Ajouter le postulant à la liste des intervenants</div><% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <% # Menu 3 %>
    <div class="content">
        <h2>Liste des intervenants :</h2>
        <% @intervenants.each do |intervenant| %>
            <div class="mise_en_page2">
                    <div class="part border_bleu reductible">
                        <div class="titre_reducteur">
                            <h2><%= intervenant.ref_rm%> - <%= intervenant.user.adherent.prenom%> <%= intervenant.user.adherent.nom%></h2>
                            <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
                            <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
                        </div>
                        <div class="content_reducteur">
                            <div>
                                <div class="h3">Informations sur l'intervenant</div>
                                <div class="h4"><%= link_to "Cliquez ici pour aller sur le profil de l'intervenant.", junior_adherent_path(@junior, intervenant.user.adherent)%></div>
                            </div>
                            <div>
                                <div class="h3">Documents de l'intervenant</div>
                                <div class="modal-button4 modal-button" id="add_doc_intervenant_<%= intervenant.id %>">Ajouter un document intervenant</div>
                                <div class="display_donnee">
                                    <% if intervenant.document_intervenants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                        <div class="h4 txt_rouge">Aucun document intervenant n'a été ajouté</div>
                                    <% else %>
                                        <div class="small-list2">
                                            <% documents_intervenants = intervenant.document_intervenants.select { |doc| !ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                            <% documents_intervenants.sort_by!{ |doc| doc.ref_doc}.each do |doc_intervenant| %>
                                                <% case doc_intervenant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                                <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>"><%= doc_intervenant.ref_doc %></div>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <div>
                                <div class="h3">Documents internes relatifs à l'intervenant</div>
                                <div class="modal-button4 modal-button" id="add_doc_interne_intervenant_<%= intervenant.id %>">Ajouter un document interne relatif à l'intervenant</div>
                                <div class="display_donnee">
                                    <% if intervenant.document_intervenants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne }.count.zero? %>
                                        <div class="h4 txt_rouge">Aucun document intervenant n'a été ajouté</div>
                                    <% else %>
                                        <div class="small-list2">
                                            <% documents_intervenants = intervenant.document_intervenants.select { |doc| ConfigDocEtude.find_by(nom: doc.nom).interne } %>
                                            <% documents_intervenants.sort_by!{ |doc| doc.ref_doc}.each do |doc_intervenant| %>
                                                <% case doc_intervenant.validite; when "invalide" then couldocpost = "rouge"; when "valide" then couldocpost = "vert"; when nil then couldocpost = "jaune"; end %>
                                                <div class="small-item <%= couldocpost %> modal-button" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>"><%= doc_intervenant.ref_doc %></div>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <% end %>
    </div>

    <% # Menu 4 %>
    <div class="content">
        <h2>Liste des documents de la phase :</h2>
        <div class="modal-button3 modal-button" id="add_doc_phase">Ajouter un document relatif à la phase</div>
        <% @phase.document_phases.sort_by{ |doc| doc.ref_doc}.each do |doc_phase| %>
            <div class="mise_en_page2">
                <% case doc_phase.validite; when "invalide" then couldocphase = "border_rouge"; when "valide" then couldocphase = "border_vert"; when nil then couldocphase = "border_jaune"; end %>
                <div class="part <%=couldocphase%> reductible">
                    <div class="titre_reducteur">
                        <h2><%= doc_phase.ref_doc%> - <%= doc_phase.nom%></h2>
                        <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
                        <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
                    </div>
                    <div class="content_reducteur">
                        <%if doc_phase.document.url%><%= link_to doc_phase.document.url, target: :_blank do %> <div style='color: var(--bleu-hex)'>Voir le document <i class="fas fa-eye"></i></div><% end %><% end %>
                        <div class="modal-button3 modal-button" id="edit_doc_phase_<%= doc_phase.id %>">Modifier le document</div>
                    </div>
                </div>
            </div>
        <% end %>   
    </div>
</div>






<% # ==========================================================================================================================%>
<% # Evaluer le postulant%>
<% @campagne_selection.postulants.each do |postulant| %>
    <div class="hex_modal" id="evaluer_postulant_<%= postulant.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="evaluer_postulant_<%= postulant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.input :note, collection: ["Bon profil", "Profil moyen", "Profil inadapté"], label: "Evaluation du profil de #{postulant.user.adherent.prenom} #{postulant.user.adherent.nom} pour la mission" %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Evaluer le postulant" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>


<% # ==========================================================================================================================%>
<% # créer intervenant%>
<% @campagne_selection.postulants.each do |postulant| %>
    <div class="hex_modal" id="create_intervenant_<%= postulant.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="create_intervenant_<%= postulant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, @new_intervenant] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.hidden_field :phase_id, value: @phase.id %>
                            <%= f.hidden_field :user_id, value: postulant.user.id %>
                            <%= f.input :ref_rm, label: "Référence du récapitulatif du mission", placeholder: "RM_1" %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Ajouter un intervenant" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # ==========================================================================================================================%>
<% # Ajouter document postulant %>
<% @campagne_selection.postulants.each do |postulant| %>
    <div class="hex_modal" id="add_doc_postulant_<%= postulant.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="add_doc_postulant_<%= postulant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant, DocumentPostulant.new] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.hidden_field :postulant_id, value: postulant.id %>
                            <%= f.input :nom, required: true, label: "Nom du document", collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "postulant", interne: false), :label_method => lambda { |doc| "#{doc.nom}" }, value_method: :nom %>
                            <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                        </div>
                        <div class="input">
                            <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Ajouter un document" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # ==========================================================================================================================%>
<% # Ajouter document interne postulant %>
<% @campagne_selection.postulants.each do |postulant| %>
    <div class="hex_modal" id="add_doc_interne_postulant_<%= postulant.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="add_doc_interne_postulant_<%= postulant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant, DocumentPostulant.new] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.hidden_field :postulant_id, value: postulant.id %>
                            <%= f.input :nom, required: true, label: "Nom du document", collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "postulant", interne: true), :label_method => lambda { |doc| "#{doc.nom}" }, value_method: :nom %>
                            <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                        </div>
                        <div class="input">
                            <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Ajouter un document" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # Modifier document postulant %>
<% @campagne_selection.postulants.each do |postulant| %>
    <% postulant.document_postulants.each do |doc_postulant| %>
        <div class="hex_modal" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>">
            <div class="background">
                <div class="header">
                    <div class="modal-close" id="edit_doc_postulant_<%= postulant.id %>_<%= doc_postulant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @etude, @phase, @campagne_selection, postulant, doc_postulant] do |f| %>
                        <%= f.error_notification %>
                        <div class="formulaire">
                            <div class="input">
                                <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                                <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                            </div>
                            <div class="input">
                                <%= f.input :validite, label: "Validité du document", collection: [["Document valide", "valide"], ["Document invalide", "invalide"]] %>
                                <%= f.input :document, as: :file, label: 'Document signé :' %>
                            </div>
                            <div class="button">
                                <%= f.button :submit, "Ajouter un document" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>


<% # ==========================================================================================================================%>
<% # Ajouter document intervenant %>
<% @intervenants.each do |intervenant| %>
    <div class="hex_modal" id="add_doc_intervenant_<%= intervenant.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="add_doc_intervenant_<%= intervenant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, intervenant, DocumentIntervenant.new] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.hidden_field :intervenant_id, value: intervenant.id %>
                            <%= f.input :nom, required: true, label: "Nom du document", collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "intervenant", interne: false), :label_method => lambda { |doc| "#{doc.nom}" }, value_method: :nom %>
                            <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                        </div>
                        <div class="input">
                            <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Ajouter un document" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # ==========================================================================================================================%>
<% # Ajouter document interne intervenant %>
<% @intervenants.each do |intervenant| %>
    <div class="hex_modal" id="add_doc_interne_intervenant_<%= intervenant.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="add_doc_interne_intervenant_<%= intervenant.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, intervenant, DocumentIntervenant.new] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.hidden_field :intervenant_id, value: intervenant.id %>
                            <%= f.input :nom, required: true, label: "Nom du document", collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "intervenant", interne: true), :label_method => lambda { |doc| "#{doc.nom}" }, value_method: :nom %>
                            <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                        </div>
                        <div class="input">
                            <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Ajouter un document" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% # Modifier document intervenant %>
<% @intervenants.each do |intervenant| %>
    <% intervenant.document_intervenants.each do |doc_intervenant| %>
        <div class="hex_modal" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>">
            <div class="background">
                <div class="header">
                    <div class="modal-close" id="edit_doc_intervenant_<%= intervenant.id %>_<%= doc_intervenant.id %>">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="content">
                    <%= simple_form_for [@junior, @etude, @phase, intervenant, doc_intervenant] do |f| %>
                        <%= f.error_notification %>
                        <div class="formulaire">
                            <div class="input">
                                <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                                <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                            </div>
                            <div class="input">
                                <%= f.input :validite, label: "Validité du document", collection: [["Document valide", "valide"], ["Document invalide", "invalide"]] %>
                                <%= f.input :document, as: :file, label: 'Document signé :' %>
                            </div>
                            <div class="button">
                                <%= f.button :submit, "Ajouter un document" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>


<% # ==========================================================================================================================%>
<% # Ajouter document phase %>
<div class="hex_modal" id="add_doc_phase">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="add_doc_phase">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            <%= simple_form_for [@junior, @etude, @phase, DocumentPhase.new] do |f| %>
                <%= f.error_notification %>
                <div class="formulaire">
                    <div class="input">
                        <%= f.hidden_field :phase_id, value: @phase.id %>
                        <%= f.input :nom, required: true, label: "Nom du document", collection: @junior.junior_configuration.config_doc_etudes.where(type_doc: "phase"), :label_method => lambda { |doc| "#{doc.nom}" }, value_method: :nom %>
                        <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                    </div>
                    <div class="input">
                        <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                    </div>
                    <div class="button">
                        <%= f.button :submit, "Ajouter un document" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% # Modifier document phase %>
<% @phase.document_phases.each do |doc_phase| %>
    <div class="hex_modal" id="edit_doc_phase_<%= doc_phase.id %>">
        <div class="background">
            <div class="header">
                <div class="modal-close" id="edit_doc_phase_<%= doc_phase.id %>">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="content">
                <%= simple_form_for [@junior, @etude, @phase, doc_phase] do |f| %>
                    <%= f.error_notification %>
                    <div class="formulaire">
                        <div class="input">
                            <%= f.input :ref_doc, required: true, label: "Référence du document", placeholder: "RM_1" %>
                            <%= f.input :date_signature, as: :date, html5: true, autofocus: true, label: "Date d'émission/signature du document" %>
                        </div>
                        <div class="input">
                            <%= f.input :validite, label: "Validité du document", collection: [["Document valide", "valide"], ["Document invalide", "invalide"]] %>
                            <%= f.input :document, as: :file, label: 'Document signé :' %>
                        </div>
                        <div class="button">
                            <%= f.button :submit, "Ajouter un document" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>