<%= simple_form_for [@junior, @junior_configuration, @permission] do |f| %>
    <%= f.error_notification %>
    <div class="formulaire">
        <div class="input">
            <%= f.input :nom, autofocus: true, required: true, label: "Nom de la classe de permission" %>
        </div>
        <div class="input">
            <%= f.input :module_etude, autofocus: true, required: true, label: "Gérer les études", as: :boolean, checked_value: true, unchecked_value: false %>
            <%= f.input :module_adherent, autofocus: true, required: true, label: "Gérer les adhérents", as: :boolean, checked_value: true, unchecked_value: false %>
            <%= f.input :module_client, autofocus: true, required: true, label: "Gérer les clients", as: :boolean, checked_value: true, unchecked_value: false %>
            <%= f.input :module_membre, autofocus: true, required: true, label: "Gérer les membres", as: :boolean, checked_value: true, unchecked_value: false %>
            <%= f.input :module_tresorerie, autofocus: true, required: true, label: "Gerer la trésorerie", as: :boolean, checked_value: true, unchecked_value: false %>
            <%= f.input :module_parametres, autofocus: true, required: true, label: "Gerer les parametres", as: :boolean, checked_value: true, unchecked_value: false %>
        </div>

    </div>

    <div class="button">
        <%= f.button :submit, "Enregistrer les permissions" %>
    </div>
<% end %>